backups/Campaign : Verify OTP(Prod).json
{
  "active": true,
  "connections": {
    "Get Reward Link Details": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get Reward Link Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Update Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Token": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-27T10:51:11.790Z",
  "id": "225",
  "name": "Campaign : Verify OTP(Prod)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sp_reward_links?filter={\"_and\":[{\"id\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"id\"]}}\"}},{\"otp\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"otp\"]==\"\"?0:$node[\"Webhook\"].json[\"body\"][\"otp\"]}}\"}} ,{\"_or\": [{\"otp_last_updated\":{\"_gt\":\"{{new Date(new Date().getTime()-5*60*1000).toISOString()}}\"}},{\"reward_campaign\":{\"campaign_type\":{\"_eq\":\"generic\"}}}]} ]}",
        "options": {}
      },
      "name": "Get Reward Link Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1060,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "57",
          "name": "Adani header auth"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "https://campaignsqa.shakepe.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "verifyotp",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        220
      ],
      "webhookId": "772d76f3-ff28-41c1-9641-cb9673aebe26",
      "credentials": {
        "httpBasicAuth": {
          "id": "61",
          "name": "Campaign Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Get Reward Link Details\"].json[\"data\"].length > 0}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1260,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"headers\"][\"x-forwarded-server\"]}}",
              "value2": "=b21b7dcab51f"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        620,
        220
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        420
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {   \n        \"success\":true,   \n        \"message\":\"OTP Verified\",\n        \"token\":$node[\"Update Token\"].json[\"data\"][\"token\"],\n        \"token_last_updated\":$node[\"Update Token\"].json[\"data\"][\"token_last_updated\"],\n        \"token_expire_in\":5\n    }\t\t\t\n});\n\nreturn responseData;"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1620,
        40
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {   \"success\":false,   \"message\":\"Invalid OTP/Code\"}\t\t\t\n});\n\nreturn responseData;"
      },
      "name": "Invalid Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1580,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sp_reward_links/{{$node[\"Get Reward Link Details\"].json[\"data\"][0][\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "token",
              "value": "={{Math.random().toString(36).substr(2)+Math.random().toString(36).substr(2);}}"
            },
            {
              "name": "token_last_updated",
              "value": "={{new Date().toISOString()}}"
            },
            {
              "name": "verified",
              "value": "=true"
            }
          ]
        }
      },
      "name": "Update Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1440,
        40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "57",
          "name": "Adani header auth"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-03-06T08:58:06.867Z"
}