backups/Campaign : Redeem Voucher(Prod).json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Verify Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voucher Code": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Voucher Redeemed": {
      "main": [
        [
          {
            "node": "Update Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Link": {
      "main": [
        [
          {
            "node": "Check Link Is Valid Or Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Value of Vocher Code": {
      "main": [
        [
          {
            "node": "Check Link and Balance Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Link and Balance Value": {
      "main": [
        [
          {
            "node": "Get Voucher Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balance Not Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Update Voucher Redeemed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voucher from VPP API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Redeemed Detials": {
      "main": [
        [
          {
            "node": "Send New Voucher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Balance": {
      "main": [
        [
          {
            "node": "Insert Redeemed Detials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Link Is Valid Or Expired": {
      "main": [
        [
          {
            "node": "Verify Token Valid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Link Or Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token Valid": {
      "main": [
        [
          {
            "node": "Get Value of Vocher Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Token Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voucher from VPP API": {
      "main": [
        [
          {
            "node": "IF VPP API Gave a Voucher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF VPP API Gave a Voucher": {
      "main": [
        [
          {
            "node": "Update Balance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inventory Not Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-27T10:54:25.331Z",
  "id": "226",
  "name": "Campaign : Redeem Voucher(Prod)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -20,
        -260
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "redeemvoucher",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -140,
        180
      ],
      "webhookId": "f272ed7b-1e2d-4f26-a46f-e0e27b5e4cb5",
      "credentials": {
        "httpBasicAuth": {
          "id": "61",
          "name": "Campaign Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "https://zeusqa.shakedeal.com"
            },
            {
              "name": "dms_campaign_url",
              "value": "https://campaignsqa.shakepe.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        200,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"headers\"][\"x-forwarded-server\"]}}",
              "value2": "=b21b7dcab51f"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        20,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        180,
        500
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sd_gift_card_inventory?filter={\"_and\": [{\"gift_card\": {\"_eq\":false}},{\"product_code\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"sku\"]}}\"}},{\"validity\":{\"_gt\":\"{{new Date().toISOString()}}\"}}]}&limit=1",
        "options": {}
      },
      "name": "Get Voucher Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1180,
        -580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "75",
          "name": "Vendor Partner Program Zeus QA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sd_gift_card_inventory/{{$node[\"Get Voucher Code\"].json[\"data\"][0]?$node[\"Get Voucher Code\"].json[\"data\"][0][\"id\"]:$node[\"Get Voucher from VPP API\"].json[0][\"keys\"][0]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "order_id",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"id\"]}}"
            },
            {
              "name": "gift_card",
              "value": "true"
            }
          ]
        }
      },
      "name": "Update Voucher Redeemed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1660,
        -600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "75",
          "name": "Vendor Partner Program Zeus QA"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nif($node[\"Get Voucher Code\"].json[\"data\"].length >0) {\n    responseData.push({\n        json: {\n            \"success\": true,\n            \"amount\":$node[\"Update Voucher Redeemed\"].json[\"data\"][\"price\"],\n            \"message\": \"Voucher Successfully Fetched!\",    \n            \"voucher\": $node[\"Update Voucher Redeemed\"].json[\"data\"][\"code\"],\n            \"pin\": $node[\"Update Voucher Redeemed\"].json[\"data\"][\"pin\"],\n            \"valid_till\": $node[\"Update Voucher Redeemed\"].json[\"data\"][\"validity\"]\n        }\t\t\t\n    });\n} else {\n    responseData.push({\n    json: {\n        \"success\": true,\n        \"amount\":$node[\"Get Value of Vocher Code\"].json[\"data\"][0][\"value\"]*1,\n        \"message\": \"Voucher Successfully Fetched!\",    \n        \"voucher\": $node[\"Get Voucher from VPP API\"].json[0][\"response\"][0][\"code\"],\n        \"pin\": $node[\"Get Voucher from VPP API\"].json[0][\"response\"][0][\"pin\"],\n        \"valid_till\": $node[\"Get Voucher from VPP API\"].json[0][\"response\"][0][\"expiry\"]\n    }\t\t\t\n});\n}\n\n\n\nreturn responseData;\n"
      },
      "name": "Send New Voucher",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2300,
        -600
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_campaign_url\"]}}/items/sp_reward_links?filter={\"id\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"id\"]}}\"}}",
        "options": {}
      },
      "name": "Verify Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        400,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "57",
          "name": "Adani header auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_campaign_url\"]}}/items/sp_reward_skus?filter={\"_and\":[{\"sku\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"sku\"]}}\"}} ]}",
        "options": {}
      },
      "name": "Get Value of Vocher Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        780,
        -320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "57",
          "name": "Adani header auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Verify Link\"].json[\"data\"].length > 0}}"
            },
            {
              "value1": true,
              "value2": "={{$node[\"Get Value of Vocher Code\"].json[\"data\"][0][\"value\"]*1 <= $node[\"Verify Link\"].json[\"data\"][0][\"pending_value\"]*1 }}"
            }
          ]
        }
      },
      "name": "Check Link and Balance Value",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Get Voucher Code\"].json[\"data\"].length >0}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        -580
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"dms_campaign_url\"]}}/items/sp_reward_redemptions",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "redemption_id",
              "value": "={{$node[\"Get Voucher Code\"].json[\"data\"][0]?$node[\"Get Voucher Code\"].json[\"data\"][0][\"id\"]:$node[\"Get Voucher from VPP API\"].json[0][\"keys\"][0]}}"
            },
            {
              "name": "sku",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"sku\"]}}"
            },
            {
              "name": "reward_link",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"id\"]}}"
            }
          ]
        }
      },
      "name": "Insert Redeemed Detials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2120,
        -600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "57",
          "name": "Adani header auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n        \"success\": false,\n        \"message\": \"Please contact Adminisrator\"\n    }\t\t\t\n});\n\nreturn responseData;\n"
      },
      "name": "Inventory Not Available",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1900,
        -260
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_campaign_url\"]}}/items/sp_reward_links/{{$node[\"Webhook\"].json[\"body\"][\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "pending_value",
              "value": "={{ $node[\"Verify Link\"].json[\"data\"][0][\"pending_value\"] - $node[\"Get Value of Vocher Code\"].json[\"data\"][0][\"value\"] }}"
            }
          ]
        }
      },
      "name": "Update Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1920,
        -600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "57",
          "name": "Adani header auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n        \"success\": false,\n        \"message\": \"Balance Not Available\"\n    }\t\t\t\n});\n\nreturn responseData;\n"
      },
      "name": "Balance Not Available",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1280,
        -140
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nlet isLinkExpired = false;\n\nif($node[\"Verify Link\"].json[\"data\"].length > 0){\n    isLinkExpired=$node[\"Verify Link\"].json[\"data\"][0][\"end_date\"] > new Date().toISOString() ? false : true;\n}\n\nresponseData.push({\n    json: {\n        \"success\": false,\n        \"message\": isLinkExpired ? \"Link Expired\" : \"Invalid Link\",\n        \"error_tag\":isLinkExpired ? \"LINK_EXPIRED\" : \"INVALID_LINK\"\n    }\t\t\t\n});\n\nreturn responseData;\n"
      },
      "name": "Invalid Link Or Expired",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        780,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Verify Link\"].json[\"data\"].length > 0 && $node[\"Verify Link\"].json[\"data\"][0][\"end_date\"] > new Date().toISOString()}}"
            }
          ]
        }
      },
      "name": "Check Link Is Valid Or Expired",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Verify Link\"].json[\"data\"][0][\"token_last_updated\"] >= new Date(new Date().getTime()-5*60*1000).toISOString()}}"
            }
          ]
        }
      },
      "name": "Verify Token Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        -40
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n        \"success\": false,\n        \"message\":\"Link Expired\",\n        \"error_tag\":\"LINK_EXPIRED\"\n    }\t\t\t\n});\n\nreturn responseData;\n"
      },
      "name": "Token Expired",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1000,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/vpp/get-vouchers",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n\t\"required_vouchers\": [\n         {\n           \"sku\": \"{{$node[\"Webhook\"].json[\"body\"][\"sku\"]}}\",\n           \"qty\": 1,\n           \"amt\": {{$node[\"Get Value of Vocher Code\"].json[\"data\"][0][\"value\"]*1}}\n          }\n     ],\n\t \"options\": {\n\t \t\"redeemed\": true,\n        \"order_id\":\"{{$node[\"Webhook\"].json[\"body\"][\"id\"]}}\" \n\t }\n}"
      },
      "name": "Get Voucher from VPP API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1560,
        -360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "75",
          "name": "Vendor Partner Program Zeus QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Get Voucher from VPP API\"].json[0][\"success\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF VPP API Gave a Voucher",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1720,
        -360
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-12-26T12:08:23.779Z"
}