backups/Coupon : Shakedeal Diwali gifts.json
{
  "active": false,
  "connections": {
    "Microsoft Excel": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Microsoft Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-10-29T07:53:04.570Z",
  "id": "97",
  "name": "Coupon : Shakedeal Diwali gifts",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "getContent",
        "workbook": "A6E890F58473778D!1982",
        "worksheet": "{B14E9E71-9D3B-4674-A487-3B293A31DF78}",
        "range": "A1:H2"
      },
      "name": "Microsoft Excel",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "34",
          "name": "Microsoft excel creds"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "=<founders@shakedeal.com>ShakeDeal Founders",
        "toEmail": "={{$node[\"Microsoft Excel\"].json[\"Email ID\"]}}",
        "subject": "=Happy Diwali!- Amazon Gift Voucher",
        "text": "=",
        "html": "=<p>Hi {{$node[\"Microsoft Excel\"].json[\"Name\"]}},</p>\n</br>\n<h3 style=\"font-family: Arial, Helvetica, sans-serif;width: 682.4pt;\">Warm Diwali wishes to you and your loved ones! </h3></br>\n<p style=\"width: 682.4pt;\">As we celebrate the festival of lights, let us hope that it brings along new opportunities for us to work together and reach new heights of success and satisfaction. Wish you peace, prosperity and happiness in both personal and professional front.\nWe take this opportunity to thank each one of you for your contribution. As a token of our appreciation we are sending you a gift (in the form of a voucher).</p></br>\n<p style=\"width: 682.4pt;\">Please find below your Amazon Gift Voucher details:-</p></br>\n<table class=\"x_-1420528032MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"910\" style=\"width: 682.4pt;border-collapse: collapse;\">\n<tbody>\n<tr style=\"height: 25.5pt;\">\n<td width=\"70\" style=\"width: 52.4pt;border: solid windowtext 1.0pt;background: rgb(102,102,153);padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 25.5pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><b><span style=\"color: white;\">EMPID</span></b></p>\n</td>\n<td width=\"227\" style=\"width: 170.0pt;border: solid windowtext 1.0pt;border-left: none;background: rgb(102,102,153);padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 25.5pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><b><span style=\"color: white;\">Employee Name</span></b></p>\n</td>\n<td width=\"143\" style=\"width: 107.0pt;border: solid windowtext 1.0pt;border-left: none;background: rgb(102,102,153);padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 25.5pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><b><span style=\"color: white;\">Code</span></b></p>\n</td>\n<td width=\"73\" style=\"width: 55.0pt;border: solid windowtext 1.0pt;border-left: none;background: rgb(102,102,153);padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 25.5pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><b><span style=\"color: white;\">Pin</span></b></p>\n</td>\n<td width=\"107\" style=\"width: 80.0pt;border: solid windowtext 1.0pt;border-left: none;background: rgb(102,102,153);padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 25.5pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><b><span style=\"color: white;\">Amount</span></b></p>\n</td>\n<td width=\"108\" style=\"width: 81.0pt;border: solid windowtext 1.0pt;border-left: none;background: rgb(102,102,153);padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 25.5pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><b><span style=\"color: white;\">Expiry Date</span></b></p>\n</td>\n</tr>\n<tr style=\"height: 21.0pt;\">\n<td width=\"70\" nowrap=\"\" style=\"width: 52.4pt;border: solid windowtext 1.0pt;border-top: none;padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 21.0pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><span style=\"font-size: 10.0pt;font-family: Arial, sans-serif;\">{{$node[\"Microsoft Excel\"].json[\"Employee ID\"]}}</span><span style=\"font-size: 10.0pt;font-family: Arial, sans-serif;\"></span></p>\n</td>\n<td width=\"227\" nowrap=\"\" style=\"width: 170.0pt;border-top: none;border-left: none;border-bottom: solid windowtext 1.0pt;border-right: solid windowtext 1.0pt;padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 21.0pt;\">\n<p class=\"MsoNormal\">{{$node[\"Microsoft Excel\"].json[\"Name\"]}}</p>\n</td>\n<td width=\"143\" nowrap=\"\" style=\"width: 107.0pt;border-top: none;border-left: none;border-bottom: solid windowtext 1.0pt;border-right: solid windowtext 1.0pt;padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 21.0pt;\">\n<p class=\"MsoNormal\"><span style=\"font-size: 10.0pt;font-family: Arial, sans-serif;\">{{$node[\"Microsoft Excel\"].json[\"Code\"]}}</span></p>\n</td>\n<td width=\"73\" nowrap=\"\" style=\"width: 55.0pt;border-top: none;border-left: none;border-bottom: solid windowtext 1.0pt;border-right: solid windowtext 1.0pt;padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 21.0pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><span style=\"font-size: 10.0pt;font-family: Arial, sans-serif;\">{{$node[\"Microsoft Excel\"].json[\"Pin\"]}}</span></p>\n</td>\n<td width=\"107\" nowrap=\"\" style=\"width: 80.0pt;border-top: none;border-left: none;border-bottom: solid windowtext 1.0pt;border-right: solid windowtext 1.0pt;padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 21.0pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><span style=\"font-size: 10.0pt;font-family: Arial, sans-serif;\">{{$node[\"Microsoft Excel\"].json[\"Balance\"]}}</span></p>\n</td>\n<td width=\"108\" nowrap=\"\" style=\"width: 81.0pt;border-top: none;border-left: none;border-bottom: solid windowtext 1.0pt;border-right: solid windowtext 1.0pt;padding: 0.0cm 5.4pt 0.0cm 5.4pt;height: 21.0pt;\">\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align: center;\"><span style=\"font-size: 10.0pt;font-family: Arial, sans-serif;\">{{$node[\"Microsoft Excel\"].json[\"Expiry Date\"]}}</span></p>\n</td>\n</tr>\n</tbody>\n</table>\n</br>\n<p>Thanks and Regards,</p></br><p><b>ShakeDeal Founders.</b></p>",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "36",
          "name": "SendGrid"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2021-11-03T12:54:45.763Z"
}