backups/Create client po amend record.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get url and token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url and token": {
      "main": [
        [
          {
            "node": "Get the po",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the po": {
      "main": [
        [
          {
            "node": "Get the po items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the po items": {
      "main": [
        [
          {
            "node": "Function to create amend po",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to create amend po": {
      "main": [
        [
          {
            "node": "Create amend po record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create amend po record": {
      "main": [
        [
          {
            "node": "Create history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-29T05:59:34.709Z",
  "id": "413",
  "name": "Create client po amend record",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-po-amend",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "webhookId": "3234c660-72c6-46ca-a35d-e50caf51644b"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/get-url",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client",
              "value": "=vedanta"
            },
            {
              "name": "env",
              "value": "=qa"
            }
          ]
        }
      },
      "name": "Get url and token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}/items/sdm_pos?filter={\"id\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"keys\"][0]}}\"}}",
        "options": {}
      },
      "name": "Get the po",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}/items/sdm_po_items?filter={\"po\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"keys\"][0]}}\"}}&limit=-1&fields=id,net_price,gross_price,delivery_date,vendor_po,unit_price,tax_percentage,uom,plant,vendor,hsn,requested_qty,product",
        "options": {}
      },
      "name": "Get the po items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let poItems = $node[\"Get the po items\"].json.data;\nlet poData = $node[\"Get the po\"].json.data;\nlet amendPoItemsArr = [];\n\nlet amendPoObj = {\n  id:poData[0].id,\n  po_items:poItems\n};\n\nitems[0].json.amend_po_obj = amendPoObj;\n\n\nreturn items;"
      },
      "name": "Function to create amend po",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}/items/sdm_pos_amend",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Function to create amend po\"].json[\"amend_po_obj\"]}}"
      },
      "name": "Create amend po record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/amended-po-history",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "po",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"keys\"][0]}}"
            }
          ]
        }
      },
      "name": "Create history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1740,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2024-02-06T12:10:03.848Z"
}