backups/Create shipment 3.0.json
{
  "active": true,
  "connections": {
    "Wait for shipment": {
      "main": [
        [
          {
            "node": "Get url and token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get the shipment file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the shipment file": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Upload shipment in mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload shipment in mozart": {
      "main": [
        [
          {
            "node": "Get the po number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the po number": {
      "main": [
        [
          {
            "node": "Get po_id from mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get po_id from mozart": {
      "main": [
        [
          {
            "node": "Create shipment in mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create shipment in mozart": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url and token": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-09-14T06:59:46.778Z",
  "id": "182",
  "name": "Create shipment 3.0",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        180,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "=create_shipment",
        "options": {}
      },
      "name": "Wait for shipment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        420
      ],
      "webhookId": "6068e010-29ce-48cd-bfa2-ed6de444d572",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "vpanel_dms_url",
              "value": "={{$node[\"Get url and token\"].json[\"0\"][\"vendor_panel_url\"]}}"
            },
            {
              "name": "mozart_dms_url",
              "value": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}"
            },
            {
              "name": "send_from_email",
              "value": "=handyalasairam9177@gmail.com"
            },
            {
              "name": "accounts_email",
              "value": "=sairam.reddy@shakedeal.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        420
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"vpanel_dms_url\"]}}/assets/{{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"shipment_file\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Get the shipment file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        660,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "shipment_file",
        "options": {
          "keepSource": true,
          "keepAsBase64": true
        }
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        880,
        420
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"mozart_dms_url\"]}}/files",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "=input_file:data"
      },
      "name": "Upload shipment in mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1140,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"vpanel_dms_url\"]}}/items/sdv_vendor_pos/{{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"vendor_po_number\"]}}",
        "options": {}
      },
      "name": "Get the po number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1400,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"0\"][\"mozart_url\"]}}/items/sdm_vendor_pos?filter={\"id\":{\"_eq\":\"{{$node[\"Get the po number\"].json[\"data\"][\"po_number\"]}}\"}}",
        "options": {}
      },
      "name": "Get po_id from mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1640,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"mozart_dms_url\"]}}/items/sdm_shipments",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "vendor_invoice",
              "value": "={{$node[\"Upload shipment in mozart\"].json[\"data\"][\"id\"]}}"
            },
            {
              "name": "invoice_number",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"invoice_number\"]}}"
            },
            {
              "name": "invoice_date",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"invoice_date\"]}}"
            },
            {
              "name": "invoice_value",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"invoice_value\"]}}"
            },
            {
              "name": "shipment_status",
              "value": "=open"
            },
            {
              "name": "vendor_po_num",
              "value": "={{$node[\"Get po_id from mozart\"].json[\"data\"][0][\"id\"]}}"
            },
            {
              "name": "net_invoice_value",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"net_invoice_value\"]}}"
            }
          ]
        }
      },
      "name": "Create shipment in mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1900,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/get-url",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"client\"]}}"
            },
            {
              "name": "env",
              "value": "={{$node[\"Wait for shipment\"].json[\"headers\"][\"x-sd-env\"]}}"
            }
          ]
        }
      },
      "name": "Get url and token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        280,
        420
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$node[\"Globals\"].json[\"send_from_email\"]}}",
        "toEmail": "={{$node[\"Globals\"].json[\"accounts_email\"]}}",
        "subject": "=Shipment Created for invoice number: {{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"invoice_number\"]}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        2180,
        420
      ],
      "credentials": {
        "smtp": {
          "id": "17",
          "name": "smtp(sai)creds"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-09-14T07:15:41.182Z"
}