backups/Cron for checking irn.json
{
  "active": false,
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "access token generated by refresh token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access token generated by refresh token": {
      "main": [
        [
          {
            "node": "Get the draft status invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the draft status invoices": {
      "main": [
        [
          {
            "node": "Split the items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split the items": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function for pushing irn": {
      "main": [
        [
          {
            "node": "Update the e_invoice_details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the invoice": {
      "main": [
        [
          {
            "node": "Function for pushing irn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get the invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-05-04T07:06:30.968Z",
  "id": "119",
  "name": "Cron for checking irn",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        140,
        280
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "=https://dmsqa.shakedeal.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/orders?filter={\"_and\": [{\"e_invoice_status\":{\"_eq\":\"draft\"}},{\"order_status\":{\"_neq\":\"cancelled\"}}]}",
        "options": {}
      },
      "name": "Get the draft status invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "56",
          "name": "Dmsqa creds"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://accounts.zoho.com/oauth/v2/token\n",
        "options": {},
        "headerParametersUi": {
          "parameter": []
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "client_id",
              "value": "1000.WBSVSVM7UXFERT32STIOQLG3CFWOKP"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "redirect_uri",
              "value": "http://localhost:5678/webhook-test/sd_invoice"
            },
            {
              "name": "client_secret",
              "value": "71afde1862948a64f91e451cdfe7f8c78250d32f7e"
            },
            {
              "name": "refresh_token",
              "value": "1000.a3b74dbdef5b06742ba91af095be0b8a.9b0f601314aaa290268c2805ba24e812"
            }
          ]
        }
      },
      "name": "access token generated by refresh token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        600,
        80
      ]
    },
    {
      "parameters": {
        "functionCode": " const data = []\n    for (const order of items[0].json.data) {\n        data.push({\n        \tjson: {\n    \t\t\te_invoice_id: order.e_invoice_id,\n                id:order.id,\n                dms_url : $node[\"Globals\"].json[\"dms_url\"]\n      \t\t}\n    \t})\n    }\n    return data;"
      },
      "name": "Split the items",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "let data = $node[\"HTTP Request\"].json[\"invoice\"][\"einvoice_details\"];\n\n\n\nitems[0].json.data = data;\nreturn items;"
      },
      "name": "Function for pushing irn",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1740,
        180
      ],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Split the items\"].json[\"dms_url\"]}}/items/orders/{{$node[\"Split the items\"].json[\"id\"]}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "irn_number",
              "value": "={{$node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"inv_ref_num\"]?$node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"inv_ref_num\"]:\"\"}}"
            },
            {
              "name": "qr_link",
              "value": "={{$node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"inv_ref_num\"]?$node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"qr_link\"]:\"\"}}"
            },
            {
              "name": "ack_number",
              "value": "={{$node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"inv_ref_num\"]?$node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"ack_number\"]:\"\"}}"
            },
            {
              "name": "e_invoice_status",
              "value": "={{$node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"inv_ref_num\"]?\"generated\":\"draft\"}}"
            },
            {
              "name": "ack_date",
              "value": "={{$node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"inv_ref_num\"]?new Date($node[\"Get the invoice\"].json[\"invoice\"][\"einvoice_details\"][\"ack_date\"]).toISOString():new Date()}}"
            }
          ]
        }
      },
      "name": "Update the e_invoice_details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1980,
        180
      ],
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "56",
          "name": "Dmsqa creds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://invoice.zoho.com/api/v3/invoices/{{$node[\"Split the items\"].json[\"e_invoice_id\"]}}?organization_id=685685414",
        "options": {}
      },
      "name": "Get the invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "29",
          "name": "zoho books creds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Get the draft status invoices\"].json[\"data\"].length}}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1240,
        540
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "E-invoice",
      "createdAt": "2022-04-25T07:09:37.693Z",
      "updatedAt": "2022-04-25T07:09:37.693Z"
    }
  ],
  "updatedAt": "2022-09-28T08:36:28.098Z"
}