backups/Cron for checking irn.json
{
  "active": false,
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "access token generated by refresh token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access token generated by refresh token": {
      "main": [
        [
          {
            "node": "Get the draft status invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the draft status invoices": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        []
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-05-04T07:06:30.968Z",
  "id": "119",
  "name": "Cron for checking irn",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "=https://dmsqa.shakedeal.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        580,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/orders?filter={\"e_invoice_status\":{\"_eq\":\"draft\"}}",
        "options": {}
      },
      "name": "Get the draft status invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "31",
          "name": "header auth creds"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://accounts.zoho.com/oauth/v2/token\n",
        "options": {},
        "headerParametersUi": {
          "parameter": []
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "client_id",
              "value": "1000.QYWLRL3RGVH2ZLK7C41R8UBPT4BQZJ"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "redirect_uri",
              "value": "http://localhost:5678/webhook-test/sd_invoice"
            },
            {
              "name": "client_secret",
              "value": "be901703a49ba9941327f2c339bfc07b3f7ee1ac29"
            },
            {
              "name": "refresh_token",
              "value": "1000.a3b74dbdef5b06742ba91af095be0b8a.9b0f601314aaa290268c2805ba24e812"
            }
          ]
        }
      },
      "name": "access token generated by refresh token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "let data=$node[\"Get the draft status invoices\"].json[\"data\"]\nlet returnItems =[]\n\ndata.forEach(function(obj,index){  \n    returnItems.push({\n    json: {\n       id:obj[\"id\"],\n       invoice_id:obj[\"e_invoice_id\"], \n    }\n  });\n  \n})\n\nreturn returnItems;"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        1120,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://invoice.zoho.com/api/v3/invoices/{{$node[\"SplitInBatches\"].json[\"data\"][0][\"e_invoice_id\"]}}organization_id=776318483",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1420,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "29",
          "name": "zoho books creds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": "= {{$node[\"Get the draft status invoices\"].json[\"data\"].length}}",
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1180,
        300
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "E-invoice",
      "createdAt": "2022-04-25T07:09:37.693Z",
      "updatedAt": "2022-04-25T07:09:37.693Z"
    }
  ],
  "updatedAt": "2022-05-04T12:50:27.089Z"
}