backups/Demo : Update vendor pos in vpanel.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get url and token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url and token": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Start Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Loop": {
      "main": [
        [
          {
            "node": "get the vendor po from vpanel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get the vendor po from vpanel": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Get the pos from mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the pos from mozart": {
      "main": [
        [
          {
            "node": "Function to delete pos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to delete pos": {
      "main": [
        [
          {
            "node": "Delete pos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment index": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "End Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete pos": {
      "main": [
        [
          {
            "node": "Increment index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-20T06:47:12.801Z",
  "id": "408",
  "name": "Demo : Update vendor pos in vpanel",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/get-url",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client",
              "value": "=vedanta"
            },
            {
              "name": "env",
              "value": "=demo"
            }
          ]
        }
      },
      "name": "Get url and token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        520,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "page",
              "value": 1
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        320
      ]
    },
    {
      "parameters": {},
      "name": "Start Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://demo.vpanel.shakedeal.com/items/sdv_vendor_pos?page={{$node[\"Start Loop\"].json[\"page\"]}}&limit=300",
        "options": {}
      },
      "name": "get the vendor po from vpanel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1180,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nlet poData=$node[\"get the vendor po from vpanel\"].json[\"data\"];\nlet vendorPoIds = poData.map(po=>po.po_number);\n\n\nitems[0].json.vendorPoIds = vendorPoIds;\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1400,
        280
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://demo.mozart.shakedeal.com/items/sdm_vendor_pos?filter={\"id\":{\"_in\":\"{{$node[\"Function\"].json.vendorPoIds}}\"}}&limit=-1",
        "options": {}
      },
      "name": "Get the pos from mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1620,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let vpanelPos = $node[\"get the vendor po from vpanel\"].json.data;\nlet mozartPos = $node[\"Get the pos from mozart\"].json.data;\nlet resultFilter = \n   vpanelPos.filter(vpo=>\n     !mozartPos.some(\n      mpo=> mpo.id === vpo.po_number \n    )\n  );\n\nlet deletePos = resultFilter.map(po=>po.id);\nlet deleteObj = {\n\t\"keys\": deletePos,\n  \"data\": {\n\t\t\"delete\": true\n\t}\n}\n\n\nitems[0].json.deletePos = deletePos;\nitems[0].json.deleteObj = deleteObj;\n\nreturn items;"
      },
      "name": "Function to delete pos",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1800,
        280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "page",
              "value": "={{$node[\"Start Loop\"].json[\"page\"]+1}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Increment index",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2040,
        280
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"get the vendor po from vpanel\"].json[\"data\"].length<300?true:false}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2220,
        280
      ]
    },
    {
      "parameters": {},
      "name": "End Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2420,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "=https://demo.vpanel.shakedeal.com/items/sdv_vendor_pos",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Function to delete pos\"].json[\"deleteObj\"]}}"
      },
      "name": "Delete pos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1960,
        20
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2024-01-20T07:42:23.026Z"
}