backups/Global order status updated from SDS.json
{
  "active": true,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive_order_status": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-09-28T10:01:06.017Z",
  "id": "192",
  "name": "Global order status updated from SDS",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "update_status_in_dms",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "sd_order_status",
                "value": "46534643-64327468724"
              }
            ]
          }
        }
      },
      "name": "Receive_order_status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        280
      ],
      "webhookId": "084f66e5-8038-4f44-b38e-867d26d8a5b6",
      "credentials": {
        "httpBasicAuth": {
          "id": "21",
          "name": "Balco_basic_auth"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{$node[\"Globals\"].json[\"workflow_id\"]}}"
      },
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        840,
        280
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "workflow_id",
              "value": "={{$node[\"Receive_order_status\"].json[\"headers\"][\"client\"]==\"vedanta\"?184:30}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        280
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-09-28T10:13:58.405Z"
}