backups/Revision History  Prod.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-28T13:30:47.489Z",
  "id": "384",
  "name": "Revision History  Prod",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        80,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://zeus.shakedeal.com/items/sp_card_inventory?fields[]=sd_serial_number&limit=-1",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "109",
          "name": "zeusprod"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "arr =$node[\"HTTP Request\"].json[\"data\"];\nlet result =  arr.slice();\nlet ids = result.map( (item) => item.sd_serial_number);\n      return {ids};"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "ids",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        740,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://zeus.shakedeal.com/revisions?filter[collection][_eq]=sp_card_inventory&filter[item][_eq]={{$node[\"Item Lists\"].json[\"ids\"]}}&limit=-1",
        "options": {}
      },
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "109",
          "name": "zeusprod"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1220,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "  let arr = $node[\"Item Lists1\"].json[\"data\"];\nlet tableData = [];\n\nfor (let i = 0; i < arr.length; i++) {\n    let order = arr[i];\n\n    for (let j = 0; j < order.length; j++) {\n        let currentItem = order[j];\n\n        let status = currentItem['delta'] ? currentItem['delta']['status'] : undefined;\n        let dateUpdated = currentItem['delta'] ? currentItem['delta']['date_updated'] : undefined;\n        let dateCreated = currentItem['data'] ? currentItem['data']['date_created'] : undefined;\n\n        if (status === 'NotAssigned' && dateCreated !== undefined) {\n            dateUpdated = dateCreated;\n        }\n\n        let sdSerialNumber = currentItem['data'] ? currentItem['data']['sd_serial_number'] : undefined;\n\n        if (status !== undefined && dateUpdated !== undefined && sdSerialNumber !== undefined) {\n            \n            const utcDate = new Date(dateUpdated); \n            const utcMilliseconds = utcDate.getTime(); \n\n            const offsetMilliseconds = 5.5 * 60 * 60 * 1000; \n            const adjustedMilliseconds = utcMilliseconds + offsetMilliseconds; \n\n            let adjustedDate = new Date(adjustedMilliseconds);\n\n            let itemData = {\n                revision_history: sdSerialNumber,\n                status: status,\n                date_created: adjustedDate\n            };\n\n            tableData.push(itemData);\n        }\n    }\n}\n\nreturn tableData;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1660,
        200
      ]
    }
  ],
  "settings": {
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-11-29T12:11:25.934Z"
}