backups/SD :  WhatsApp Integration.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get Job ID on OrderID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job ID on OrderID": {
      "main": [
        [
          {
            "node": "Delete Job From Rest API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Job From Rest API": {
      "main": [
        [
          {
            "node": "Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "AiSensy Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AiSensy Whatsapp": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-03T13:55:01.496Z",
  "id": "196",
  "name": "SD :  WhatsApp Integration",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -200,
        240
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.kaleyra.io/v1/HXIN1732535738IN/messages",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "from",
              "value": "+917406700552"
            },
            {
              "name": "to",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"mobile_no\"]}}"
            },
            {
              "name": "type",
              "value": "mediatemplate"
            },
            {
              "name": "params",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"params\"]}}"
            },
            {
              "name": "template_name",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"template_name\"]}}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "media_url",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"media_url\"]}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "A826baea1feaa6207057eb1f52f68fde8"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {}
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -20,
        460
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "sendwhatsappnotification",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-SD-WHATSAPP",
                "value": "8765-9876-8956-5325"
              }
            ]
          }
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -340,
        460
      ],
      "webhookId": "7e8461a3-2b7c-40af-8a0f-56adc090374a",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{[\"confirmed_order_1\",\"cancelled_order_customer_1\",\"cancelled_order_customer_2_\",\"confirmed_order_2\",\"orderconfirmation\"].includes($node[\"Webhook\"].json[\"body\"][\"template_name\"])}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select * from Rest_API_Logs where order_id='{{$node[\"Webhook\"].json[\"body\"][\"order_id\"]}}';",
        "additionalFields": {}
      },
      "name": "Get Job ID on OrderID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        300,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "n8n - Postgres"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "DELETE",
        "url": "=https://api.cron-job.org/jobs/{{$node[\"Get Job ID on OrderID\"].json[\"job_id\"]}}",
        "options": {}
      },
      "name": "Delete Job From Rest API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "65",
          "name": "Cron job.org creds"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "let default_whatsapp_provider = $node[\"Globals\"].json.default_whatsapp_provider;\n  // return $node[\"AiSensy Whatsapp\"].json.data;\nif(default_whatsapp_provider == 'kaleyra'){\n  return $node[\"HTTP Request\"].json; \n}else{\n  return $node[\"AiSensy Whatsapp\"].json.data;\n}\n\n// let returnItems = [];\n// returnItems.push({\n//   json:{\n//     id:$node[\"AiSensy Whatsapp\"].json.data.submitted_message_id,\n//   }\n// })\n\n// return returnItems;"
      },
      "name": "Response Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://backend.aisensy.com/campaign/t1/api/v2",
        "responseFormat": "string",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "apiKey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY0NjVmYTAxYzQ1MzJmMGMwMTQ2NDhiOCIsIm5hbWUiOiJTaGFrZWRlYWwgTWFya2V0aW5nIiwiYXBwTmFtZSI6IkFpU2Vuc3kiLCJjbGllbnRJZCI6IjY0NjVmYTAxYzc1MjIyN2RlNWI2MjZiNCIsImFjdGl2ZVBsYW4iOiJOT05FIiwiaWF0IjoxNjg0NDA0NzM3fQ.tOqY4HVzo2_eRl--JnoUioFlw7bGGAb2LPr98LO2_dI"
            },
            {
              "name": "campaignName",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"template_name\"]}}"
            },
            {
              "name": "destination",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"mobile_no\"]}}"
            },
            {
              "name": "userName",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"mobile_no\"]}}"
            },
            {
              "name": "templateParams",
              "value": "={{$node[\"Function\"].json[\"request_params\"]}}"
            },
            {
              "name": "media",
              "value": "={{$node[\"Function\"].json[\"media\"]}}"
            }
          ]
        }
      },
      "name": "AiSensy Whatsapp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        160,
        680
      ]
    },
    {
      "parameters": {
        "functionCode": "let request_params = $node[\"Webhook\"].json.body.params;\n\nlet params = JSON.parse(\"[\" + request_params + \"]\");\n\nlet media_url = $node[\"Webhook\"].json.body.media_url;\nlet file_name = \"\";\nif(media_url){\n    let media_split_content = media_url.split(\"/\");\n    file_name = media_split_content[media_split_content.length - 1];\n}\n\nlet media = {\n    \"url\" : media_url,\n    \"filename\" : file_name\n}\n// items[0].json.test = media_split_content;\n// items[0].json.test1 = file_name;\nitems[0].json.media = media;\nitems[0].json.request_params = params;\n// items[0].json.request_params1 = request_params;\nreturn items;\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -20,
        680
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "default_whatsapp_provider",
              "value": "aisensy"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -180,
        460
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-07-04T09:25:48.906Z"
}