backups/SD Reward Link - Notifications.json
{
  "active": true,
  "connections": {
    "Call Kaleyra": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SMS Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Templates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Kaleyra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Templates": {
      "main": [
        [
          {
            "node": "Send OTP-Msg91",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Templates": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP-Msg91": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "SMS Templates1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Templates1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Kaleyra1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Kaleyra1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Templates1": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP-Msg": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-27T09:03:36.488Z",
  "id": "294",
  "name": "SD Reward Link - Notifications",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        140,
        160
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Webhook\"].json[\"body\"][\"otp_mode\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "sms"
            },
            {
              "value2": "email",
              "output": 1
            },
            {
              "value2": "whatsapp",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        780,
        660
      ]
    },
    {
      "parameters": {
        "from": "SHAKDL",
        "to": "=91{{$node[\"Webhook\"].json[\"body\"][\"phone\"]}}",
        "message": "={{$node[\"SMS Templates\"].json[\"smsBody\"]}}"
      },
      "name": "Msg91",
      "type": "n8n-nodes-base.msg91",
      "typeVersion": 1,
      "position": [
        180,
        660
      ],
      "credentials": {
        "msg91Api": {
          "id": "59",
          "name": "Msg91 Api account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.kaleyra.io/v1/HXIN1732535738IN/messages",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "from",
              "value": "+917406700552"
            },
            {
              "name": "to",
              "value": "=91{{$node[\"Webhook\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "type",
              "value": "mediatemplate"
            },
            {
              "name": "params",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"template_params\"][0]+\"\"}}"
            },
            {
              "name": "template_name",
              "value": "=otp"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "media_url",
              "value": "="
            },
            {
              "name": "callback_url",
              "value": "https://qan8n.shakedeal.com/webhook/whatsappcallback"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "Ad3aca40e1bf47b84114c9b8b967c9db8"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {}
          ]
        }
      },
      "name": "Call Kaleyra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1340,
        860
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email_from\"]}}",
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email_to\"]}}",
        "subject": "Reward Link - OTP",
        "text": "=",
        "html": "={{$node[\"Email Templates\"].json[\"emailBody\"]}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1340,
        660
      ],
      "credentials": {
        "smtp": {
          "id": "7",
          "name": "AWS SES Creds"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n      \"success\":true,\n      \"message\":\"OTP Sent Successfully\"\n    }\t\t\t\t\n});\n\nreturn responseData;"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1700,
        660
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sd-notifications",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        140,
        360
      ],
      "webhookId": "b6d016ec-2af2-4432-a24d-f5fa2cde27cf"
    },
    {
      "parameters": {
        "functionCode": "let smsBody = null;\n\nconst templateName = $node[\"Webhook\"].json[\"body\"][\"template_name\"];\nconst templateParams = $node[\"Webhook\"].json[\"body\"][\"template_params\"];\n\nswitch(templateName) {\n  case 'reward-template': {\n    let roughTemplate =  \"{{$par0}} is your OTP for account verification on ShakeDeal. The OTP is valid for 30 mins. Please do not share OTP with anyone.\"\n+\"\\nTeam ShakeDeal\";\n\n    templateParams.forEach((param, index)=>{\n      roughTemplate = roughTemplate.split(`{{$par${index}}}`).join(param);\n    });\n    \n    smsBody = roughTemplate;\n    break;\n  }\n}\n\nreturn {smsBody};"
      },
      "name": "SMS Templates",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1080,
        460
      ]
    },
    {
      "parameters": {
        "functionCode": "let emailBody = null;\n\nconst templateName = $node[\"Webhook\"].json[\"body\"][\"template_name\"];\nconst templateParams = $node[\"Webhook\"].json[\"body\"][\"template_params\"];\n\nswitch(templateName) {\n  case 'reward-template': {\n    let roughTemplate =  \"Hello, <br /><br /> The OTP to redeem your Voucher is: <br /><br /><strong>{{$par0}}</strong> <br /><br />The OTP is valid for 5 mins. Please do not share OTP with anyone.<br /><br />Regards,<br />{{$par1}}<br />\";\n\n    templateParams.forEach((param, index)=>{\n      roughTemplate = roughTemplate.split(`{{$par${index}}}`).join(param);\n    });\n    \n    emailBody = roughTemplate;\n    break;\n  }\n  case 'reward-link-template': {\n    let roughTemplate =  \"Hello,<br /><br />Click and Access Your Link: <br /><br /><strong>{{$par0}}</strong> <br /> <br /><br /> The OTP to redeem your Voucher is: <br /><br /><strong>{{$par0}}</strong> <br /><br />The OTP is valid for 5 mins. Please do not share OTP with anyone.<br /><br />Regards,<br />{{$par1}}<br />\";\n\n    templateParams.forEach((param, index)=>{\n      roughTemplate = roughTemplate.split(`{{$par${index}}}`).join(param);\n    });\n    \n    emailBody = roughTemplate;\n    break;\n  }\n}\n\nreturn {emailBody};"
      },
      "name": "Email Templates",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1080,
        660
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/send-otp",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "mobile",
              "value": "=91{{$node[\"Webhook\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "otp",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"template_params\"][0]+\"\"}}"
            },
            {
              "name": "source",
              "value": "=reward-links"
            },
            {
              "name": "sender_id",
              "value": "=SHAKPE-OTP"
            }
          ]
        }
      },
      "name": "Send OTP-Msg91",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1340,
        460
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "60",
          "name": "Notification"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"type\"]}}",
              "value2": "=link"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        360,
        360
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Webhook\"].json[\"body\"][\"otp_mode\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "sms"
            },
            {
              "value2": "email",
              "output": 1
            },
            {
              "value2": "whatsapp",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        780,
        60
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.kaleyra.io/v1/HXIN1732535738IN/messages",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "from",
              "value": "+917406700552"
            },
            {
              "name": "to",
              "value": "=91{{$node[\"Webhook\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "type",
              "value": "mediatemplate"
            },
            {
              "name": "params",
              "value": "=\"{{$node[\"Prepare Data\"].json[\"brand_name\"]}}\",\"{{$node[\"Webhook\"].json[\"body\"][\"extra_params\"][\"value\"]}}\",\"{{$node[\"Prepare Data\"].json[\"link\"]}}\",\"{{$node[\"Webhook\"].json[\"body\"][\"extra_params\"][\"reference_code_otp\"]}}\",\"{{$node[\"Prepare Data\"].json[\"validity\"]}}\""
            },
            {
              "name": "template_name",
              "value": "=smartlink_shakepe_3"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "media_url",
              "value": "="
            },
            {
              "name": "callback_url",
              "value": "https://qan8n.shakedeal.com/webhook/whatsappcallback"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "Ad3aca40e1bf47b84114c9b8b967c9db8"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {}
          ]
        }
      },
      "name": "Call Kaleyra1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1340,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "=rewards@shakepe.com",
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email_to\"]}}",
        "subject": "={{$node[\"Prepare Data\"].json[\"subject\"]}}",
        "text": "=",
        "html": "={{$node[\"Email Templates1\"].json[\"emailBody\"]}}",
        "options": {}
      },
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1340,
        60
      ],
      "credentials": {
        "smtp": {
          "id": "7",
          "name": "AWS SES Creds"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n      \"success\":true,\n      \"message\":\"OTP Sent Successfully\"\n    }\t\t\t\t\n});\n\nreturn responseData;"
      },
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1700,
        60
      ]
    },
    {
      "parameters": {
        "functionCode": "let smsBody = null;\n\nconst templateName = $node[\"Webhook\"].json[\"body\"][\"template_name\"];\nconst templateParams = $node[\"Webhook\"].json[\"body\"][\"template_params\"];\n\nswitch(templateName) {\n  case 'reward-template': {\n    let roughTemplate =  \"{{$par0}} is your OTP for account verification on ShakeDeal. The OTP is valid for 30 mins. Please do not share OTP with anyone.\"\n+\"\\nTeam ShakeDeal\";\n\n    templateParams.forEach((param, index)=>{\n      roughTemplate = roughTemplate.split(`{{$par${index}}}`).join(param);\n    });\n    \n    smsBody = roughTemplate;\n    break;\n  }\n}\n\nreturn {smsBody};"
      },
      "name": "SMS Templates1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1080,
        -140
      ]
    },
    {
      "parameters": {
        "functionCode": "let emailBody = null;\n\nconst templateName = $node[\"Webhook\"].json[\"body\"][\"template_name\"];\nconst templateParams = $node[\"Webhook\"].json[\"body\"][\"template_params\"];\nconst params = $node[\"Webhook\"].json[\"body\"][\"extra_params\"];\nconst data = $node[\"Prepare Data\"].json;\n\n\nlet roughTemplate1 =  '<!DOCTYPE html><head><title>Email Notification</title><style type=\"text/css\">.main-content{width:600px;position:relative;background-color:#fff;border:1px solid #e6e6e6;padding:0 44px 0 46px;text-align:left}.content-table{width:100%;direction:ltr;height:100%;background-color:#fff;font-family:system-ui}.print-width100{width:100%}a:link{text-decoration:none}a:visited{text-decoration:none}a:hover{text-decoration:none}a:active{text-decoration:none}.heading-text{font-size:30px;color:#4e6db5;font-weight:600;font-family:system-ui}.content-text{font-size:16px;color:#4e6db5;font-weight:400;font-family:system-ui}.footer-text{font-size:16px;color:#4e6db5;font-weight:400;text-align:center;vertical-align:middle;font-family:system-ui}.voucher-table{text-align:center;vertical-align:middle;border-collapse:collapse;border:dashed 1.5px #8896bb;border-radius:10px}.dashed-table{border:dashed 1px #d3d7e3}.footer{padding:20px;border-top:1px solid #aebbdd;background-color:#f8fafe;border-radius:0 0 10px 10px}</style></head><body><div class=\"main-content\"><div><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tbody><tr><th colspan=\"3\" style=\"text-align: center;\"><img src=\"https://cdn.shakedeal.com/images/logos/2/shakepe_logo.png\" style=\"width: 20%;padding: 20px;\"></th></tr></tbody></table><table class=\"print-width100\"><tbody><tr><th><div style=\"border:1px solid #aebbdd;border-radius:10px\"><div class=\"content\" style=\"padding:20px\"><div><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px\"><tbody><tr><th class=\"heading-text\">Your Exclusive Vouchers Await!🎁</th></tr></tbody></table><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px;padding-top:30px\"><tbody><tr><th class=\"content-text\">Hey,</th></tr><tr><th>&nbsp;</th></tr><tr><th class=\"content-text\">Here are your voucher details, simply click on the link below and enter the corresponding PIN:</th></tr></tbody></table></div><div style=\"padding-top:20px;padding-left:5px\"><table class=\"content-table voucher-table\" cellpadding=\"5\" cellspacing=\"0\"><thead><tr><th style=\"font-size:14px;color:#4e6db5;width:20%;font-weight:600\" class=\"dashed-table\">Brand Name</th><th style=\"font-size:14px;color:#4e6db5;width:20%;font-weight:600\" class=\"dashed-table\">Value</th><th style=\"font-size:14px;color:#4e6db5;width:20%;font-weight:600\" class=\"dashed-table\">Voucher</th><th style=\"font-size:14px;color:#4e6db5;width:20%;font-weight:600\" class=\"dashed-table\">PIN</th><th style=\"font-size:14px;color:#4e6db5;width:20%;font-weight:600\" class=\"dashed-table\">Expiry Date</th></tr></thead><tbody><tr><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\">{brand}</th><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\">₹{value}</th><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\"><a href=\"{link}\"><span style=\"color:#5fbd57\">{reference_number}</span></a></th><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\">{pin}</th><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\">{validity}</th></tr></tbody></table></div><div style=\"padding-top:30px\"><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px\"><tbody><tr><th class=\"content-text\">The link will expire on {validity}.</th></tr><tr><th class=\"content-text\">Happy shopping!</th></tr></tbody></table></div><div style=\"padding-top:30px\"><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px\"><tbody><tr><th class=\"content-text\">Best,</th></tr><tr><th class=\"content-text\">Team ShakePe</th></tr></tbody></table></div></div><div class=\"footer\"><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px;background-color:#f8fafe\"><tbody><tr style=\"width:100%\"><th class=\"footer-text\">Need any<br><span style=\"font-weight:700\">ASSISTANCE?</span></th><th class=\"footer-text\">EMAIL<br><a href=\"mailto:support@shakepe.com\"><span style=\"color:#5fbd57\">support@shakepe.com</span></a></th><th class=\"footer-text\">CALL<br><a href=\"tel:+916366532173\"><span style=\"color:#4e6db5;font-weight:700\">+91-6366532173</span></a></th></tr></tbody></table></div></div></th></tr></tbody></table><br><br><br></div></div></body>';\nlet roughTemplate = '<!DOCTYPE html><head><title>Email Notification</title><style type=\"text/css\">.main-content{width:600px;position:relative;background-color:#fff;border:1px solid #e6e6e6;padding:0 44px 0 46px;text-align:left}.content-table{width:100%;direction:ltr;height:100%;background-color:#fff;font-family:system-ui}.print-width100{width:100%}a:link{text-decoration:none}a:visited{text-decoration:none}a:hover{text-decoration:none}a:active{text-decoration:none}.heading-text{font-size:30px;color:#4e6db5;font-weight:600;font-family:system-ui}.content-text{font-size:16px;color:#4e6db5;font-weight:400;font-family:system-ui}.footer-text{font-size:16px;color:#4e6db5;font-weight:400;text-align:center;vertical-align:middle;font-family:system-ui}.voucher-table{text-align:center;vertical-align:middle;border-collapse:collapse;border:dashed 1.5px #8896bb;border-radius:10px}.dashed-table{border:dashed 1px #d3d7e3}.footer{padding:20px;border-top:1px solid #aebbdd;background-color:#f8fafe;border-radius:0 0 10px 10px}</style></head><body><div class=\"main-content\"><div><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tbody><tr><th colspan=\"3\" style=\"text-align: center;\"><img src=\"https://cdn.shakedeal.com/images/logos/2/shakepe_logo.png\" style=\"width: 20%;padding: 20px;\"></th></tr></tbody></table><table class=\"print-width100\"><tbody><tr><th><div style=\"border:1px solid #aebbdd;border-radius:10px\"><div class=\"content\" style=\"padding:20px\"><div><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px\"><tbody><tr><th class=\"heading-text\">Your Exclusive Vouchers Await!🎁</th></tr></tbody></table><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px;padding-top:30px\"><tbody><tr><th class=\"content-text\">Hey,</th></tr><tr><th>&nbsp;</th></tr><tr><th class=\"content-text\">Here are your voucher details, simply click on the link below and enter the corresponding PIN:</th></tr></tbody></table></div><div style=\"padding-top:20px;padding-left:5px\"><table class=\"content-table voucher-table\" cellpadding=\"5\" cellspacing=\"0\"><thead><tr><th style=\"font-size:14px;color:#4e6db5;font-weight:600;width:20%\" class=\"dashed-table\">Brand Name</th><th style=\"font-size:14px;color:#4e6db5;font-weight:600\" class=\"dashed-table\">Value</th><th style=\"font-size:14px;color:#4e6db5;font-weight:600\" class=\"dashed-table\">Voucher</th><th style=\"font-size:14px;color:#4e6db5;font-weight:600\" class=\"dashed-table\">PIN</th><th style=\"font-size:14px;color:#4e6db5;font-weight:600\" class=\"dashed-table\">Expiry Date</th></tr></thead><tbody><tr><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\">{brand}</th><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\">₹{value}</th><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\"><a href=\"{link}\"><span style=\"color:#5fbd57\">{reference_number}</span></a></th><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\">{pin}</th><th style=\"font-size:14px;color:#4e6db5;font-weight:400\" class=\"dashed-table\">{validity}</th></tr></tbody></table></div><div style=\"padding-top:30px\"><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px\"><tbody><tr><th class=\"content-text\">The link will expire on {validity}.</th></tr><tr><th class=\"content-text\">Happy shopping!</th></tr></tbody></table></div><div style=\"padding-top:30px\"><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px\"><tbody><tr><th class=\"content-text\">Best,</th></tr><tr><th class=\"content-text\">Team ShakePe</th></tr></tbody></table></div></div><div class=\"footer\"><table class=\"content-table\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding:5px;background-color:#f8fafe\"><tbody><tr style=\"width:100%\"><th class=\"footer-text\">Need any<br><span style=\"font-weight:700\">ASSISTANCE?</span></th><th class=\"footer-text\">EMAIL<br><a href=\"mailto:support@shakepe.com\"><span style=\"color:#5fbd57\">support@shakepe.com</span></a></th><th class=\"footer-text\">CALL<br><a href=\"tel:+916366532173\"><span style=\"color:#4e6db5;font-weight:700\">+91-6366532173</span></a></th></tr></tbody></table></div></div></th></tr></tbody></table><br><br><br></div></div></body></html>'; \nlet brand_name = data.brand_name;\nlet brand_url = data.brand_url;\nlet brand_image = data.brand_image;\nlet brand = brand_name;\nconsole.log(\"=======brand_url=====\",brand_url)\n\nif(brand_image){\n  let brand_image_src = '<img src=\"{brand_url}\" style=\"width:100%\">';\n  console.log(\"=======brand_url=====\",brand_url)\n\n  brand = brand_image_src.replace(/{brand_url}/g, brand_url);\n  console.log(\"=======brand_url=====\",brand_url)\n\n}\n\nconsole.log(\"=======brand=====\",brand)\nlet value = params.value;\nlet reference_number = params.link_reference_id;\nlet pin = params.reference_code_otp;\nlet validity = data.validity;\n\nlet link = params.other_site_domain + '?link=' + reference_number;\n\nlet content = roughTemplate.replace(/{brand}/g, brand)\n              .replace(/{value}/g, value)\n              .replace(/{reference_number}/g, reference_number)\n              .replace(/{pin}/g, pin)\n              .replace(/{link}/g, link)\n              .replace(/{validity}/g, validity);\n\nemailBody = content;\n  \n\n\nreturn {emailBody};"
      },
      "name": "Email Templates1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        60
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/send-otp",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "mobile",
              "value": "=91{{$node[\"Webhook\"].json[\"body\"][\"phone\"]}}"
            },
            {
              "name": "otp",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"template_params\"][0]+\"\"}}"
            },
            {
              "name": "source",
              "value": "=reward-links"
            },
            {
              "name": "sender_id",
              "value": "=SHAKPE-OTP"
            }
          ]
        }
      },
      "name": "Send OTP-Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1340,
        -140
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "60",
          "name": "Notification"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let emailBody = null;\n\nconst templateName = $node[\"Webhook\"].json[\"body\"][\"template_name\"];\nconst templateParams = $node[\"Webhook\"].json[\"body\"][\"template_params\"];\nconst params = $node[\"Webhook\"].json[\"body\"][\"extra_params\"];\n\nlet brand = params.brand;\nlet brand_name = \"\";\nlet brand_image = \"\";\nlet brand_url = \"\";\nif(brand[0]){\n    brand_name = brand[0].brand ? brand[0].brand.name : \"\";\n    brand_image = brand[0].brand ? brand[0].brand.image : \"\";\n\n    brand_url = params.image_url + '/' + brand_image;\n}\n\nlet value = params.value;\nlet reference_number = params.link_reference_id;\nlet pin = params.reference_code_otp;\nlet link = params.other_site_domain + '?link=' + reference_number;\n\n// Create a Date object from the input string\nconst inputDate = new Date(params.valid_till);\n\n// Extract day, month, and year components\nconst day = inputDate.getUTCDate();\nconst month = inputDate.getUTCMonth() + 1; // Months are zero-based, so we add 1\nconst year = inputDate.getUTCFullYear();\n\n// Format the date in the desired format (DD-MM-YYYY)\nconst formattedDate = `${day < 10 ? '0' : ''}${day}-${month < 10 ? '0' : ''}${month}-${year}`;\n\nlet subject = \"Resent: Your Exclusive Voucher Await! 🎁\";\nif(params.first_time_send == true){\n    subject = \"Your Exclusive Voucher Await! 🎁\";\n}\n\nlet validity = inputDate;\n\nitems[0].json.link = link;\nitems[0].json.validity = formattedDate;\nitems[0].json.subject = subject;\nitems[0].json.brand_name = brand_name;\nitems[0].json.brand_url = brand_url;\nitems[0].json.brand_image = brand_image;\n\nreturn items;"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        560,
        180
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2024-03-06T06:24:19.069Z"
}