backups/Send Codes to Enterprise.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-29T09:31:36.556Z",
  "id": "423",
  "name": "Send Codes to Enterprise",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "c7972d80-1327-4a8b-8e86-5b82567c7b59",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        180
      ],
      "webhookId": "c7972d80-1327-4a8b-8e86-5b82567c7b59",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://hcampaignsdemo.shakepe.com/links_download/send-codes",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "campaign_id",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"campaign_id\"]}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Basic dK8PMV2iZnX4CFz4aIlqRv1tEMmXA2d9GEG2UrEqP"
            }
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        880,
        180
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        660,
        180
      ],
      "webhookId": "7be5a38e-9fe4-4421-8aa0-a11fcfe6b0db"
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2024-03-01T10:16:43.549Z"
}