backups/Send Notification.json
{
  "active": true,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Function to get params and templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Msg91",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Kaleyra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to get params and templates": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Kaleyra": {
      "main": [
        [
          {
            "node": "Global DMS URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global DMS URL": {
      "main": [
        [
          {
            "node": "Insert SES Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert SES Log": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-11T09:47:27.008Z",
  "id": "209",
  "name": "Send Notification",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        0,
        -60
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "whatsapp",
              "value": true
            },
            {
              "name": "sms",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        100,
        160
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Webhook\"].json[\"body\"][\"template_name\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "otp"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        480,
        160
      ]
    },
    {
      "parameters": {
        "from": "SHAKDL",
        "to": "={{$node[\"Webhook\"].json[\"body\"][\"mobile\"]}}",
        "message": "={{$node[\"Function to get params and templates\"].json[\"message\"]}}"
      },
      "name": "Msg91",
      "type": "n8n-nodes-base.msg91",
      "typeVersion": 1,
      "position": [
        640,
        -80
      ],
      "credentials": {
        "msg91Api": {
          "id": "59",
          "name": "Msg91 Api account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.kaleyra.io/v1/HXIN1732535738IN/messages",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "from",
              "value": "+917406700552"
            },
            {
              "name": "to",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"mobile\"]}}"
            },
            {
              "name": "type",
              "value": "mediatemplate"
            },
            {
              "name": "params",
              "value": "={{$node[\"Function to get params and templates\"].json[\"params\"]}}"
            },
            {
              "name": "template_name",
              "value": "={{$node[\"Function to get params and templates\"].json[\"template_name\"]}}"
            },
            {
              "name": "channel",
              "value": "whatsapp"
            },
            {
              "name": "callback_url",
              "value": "https://qan8n.shakedeal.com/webhook/whatsappcallback"
            },
            {
              "name": "media_url",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"media_url\"]}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "A826baea1feaa6207057eb1f52f68fde8"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {}
          ]
        }
      },
      "name": "Call Kaleyra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "let template = $node[\"Webhook\"].json[\"body\"][\"template_name\"];\nlet request_params = $node[\"Webhook\"].json[\"body\"][\"params\"];\nlet message  = \"\"\nlet template_name = \"\"\nlet params = \"\";\nif(template == \"otp\"){\n  message = `${request_params[0]} is your OTP for account verification on ShakeDeal. The OTP is valid for 30 mins. Please do not share OTP with anyone.\nTeam ShakeDeal`\n}else if(template == \"sp_award_points_img\"){\n  params = `\"${request_params[0]}\",\"${request_params[1]}\",\"${request_params[2]}\",\"${request_params[3]}\"`\n  template_name = \"sp_award_points_img\"\n}else if(template == \"voucher_delivery\"){\n  params = `\"${request_params[0]}\",\"${request_params[1]}\",\"${request_params[2]}\",\"${request_params[3]}\",\"${request_params[4]}\",\"${request_params[5]}\",\"${request_params[6]}\"`\n  template_name = \"voucher_delivery_3\"\n} else if(template == \"voucher_delivery_document\"){\n  params = `\"${request_params[0]}\",\"${request_params[1]}\"`\n  template_name = \"sp_voucher_delivery_document\"\n}\n\nitems[0].json.template= template;\nitems[0].json.request_params= request_params;\nitems[0].json.message= message;\nitems[0].json.template_name= template_name;\nitems[0].json.params= params;\nreturn items;"
      },
      "name": "Function to get params and templates",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        300,
        160
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n        \"success\": true\n    }\t\t\t\n});\n\nreturn responseData;\n"
      },
      "name": "Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1280,
        160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "={{$node[\"Webhook\"].json[\"headers\"][\"x-sd-env\"] === \"prod\" ?\"https://zeus.shakedeal.com\":\"https://zeusqa.shakedeal.com\"}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Global DMS URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        880,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Global DMS URL\"].json[\"dms_url\"]}}/items/ses_logs",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "order_id",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"order_id\"]}}"
            },
            {
              "name": "message_id",
              "value": "={{$node[\"Call Kaleyra\"].json[\"id\"]}}:0"
            },
            {
              "name": "recipient",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"mobile\"]}}"
            },
            {
              "name": "event_type",
              "value": "WhatsApp"
            }
          ]
        }
      },
      "name": "Insert SES Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1080,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "81",
          "name": "SES Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "send-notification",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -100,
        160
      ],
      "webhookId": "90e5cec9-6b9c-46c8-94ec-e5efca641da1",
      "credentials": {
        "httpBasicAuth": {
          "id": "60",
          "name": "Notification"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-03-31T07:25:51.648Z"
}