backups/ShakePe GCI Verify OTP and Request Activation.json
{
  "active": true,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Get Details From Serial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Details From Serial": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "OTP Expiry Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "IF MOBILE NUMBER UPDATE REQUIRED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF MOBILE NUMBER UPDATE REQUIRED": {
      "main": [
        [
          {
            "node": "Update Mobile Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Mobile Number": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTP Expiry Check": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Failure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-05T11:04:09.088Z",
  "id": "254",
  "name": "ShakePe GCI Verify OTP and Request Activation",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "https://zeusqa.shakedeal.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        80
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "shakepe/verify-otp-and-activate",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        80
      ],
      "webhookId": "010f1317-1e79-42b5-9e4c-f8c6a7d75362",
      "credentials": {
        "httpBasicAuth": {
          "id": "76",
          "name": "ShakePe Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sp_card_inventory?filter={\"_and\":[{\"reference_number\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"id\"]}}\"}},{\"otp\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"otp\"]}}\"}}]}&fields=mobile_number,otp,otp_last_updated,sd_serial_number,customer_name",
        "options": {}
      },
      "name": "Get Details From Serial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        740,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "77",
          "name": "ShakePe GCI - Zeus QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Get Details From Serial\"].json[\"data\"].length>0}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        940,
        80
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n      \"success\":false,\n      \"message\":\"Invalid OTP\"\n    }\t\t\t\t\n});\n\nreturn responseData;"
      },
      "name": "Respond Failure",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1180,
        320
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\nlet customerName = $node[\"Get Details From Serial\"].json[\"data\"][0][\"customer_name\"];\n\nif(!customerName) customerName = \"Card User\";\n\nresponseData.push({\n    json: {\n      \"success\":true,\n      \"customer_name\": customerName,\n      \"message\":\"Request Placed Successfully\"\n    }\t\t\t\t\n});\n\nreturn responseData;"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2060,
        -180
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sp_card_inventory/{{$node[\"Get Details From Serial\"].json[\"data\"][0][\"sd_serial_number\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "status",
              "value": "RequestForActivation"
            }
          ]
        }
      },
      "name": "Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1360,
        -200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "77",
          "name": "ShakePe GCI - Zeus QA"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sp_card_inventory/{{$node[\"Get Details From Serial\"].json[\"data\"][0][\"sd_serial_number\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "mobile_number",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"mobile_number\"]}}"
            }
          ]
        }
      },
      "name": "Update Mobile Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1800,
        -380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "77",
          "name": "ShakePe GCI - Zeus QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$node[\"Webhook\"].json[\"body\"][\"mobile_number\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF MOBILE NUMBER UPDATE REQUIRED",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1580,
        -200
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n      \"success\":false,\n      \"message\":\"OTP Expired\"\n    }\t\t\t\t\n});\n\nreturn responseData;"
      },
      "name": "Respond Failure1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1340,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ ( new Date().getTime() - new Date($node[\"Get Details From Serial\"].json[\"data\"][0][\"otp_last_updated\"]).getTime() )/(60*1000) }}",
              "operation": "smallerEqual",
              "value2": 30
            }
          ]
        }
      },
      "name": "OTP Expiry Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1140,
        -60
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-02-03T06:32:16.269Z"
}