backups/Siemens - Order Update.json
{
  "active": true,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Check for Order ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Check for Order ID": {
      "main": [
        [
          {
            "node": "Check Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Order": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-13T04:58:34.255Z",
  "id": "322",
  "name": "Siemens - Order Update",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -40,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "siemens/order-id-update",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        320
      ],
      "webhookId": "59ac2d21-8def-4db4-81c5-b1a605b286e8",
      "credentials": {
        "httpBasicAuth": {
          "id": "92",
          "name": "Siemens Notification"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/{{$node[\"Globals\"].json[\"table_name\"]}}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Function\"].json[\"0\"]}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "90",
          "name": "Simens Order Token"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "=https://noirqa.shakedeal.com"
            },
            {
              "name": "table_name",
              "value": "=sds_orders"
            },
            {
              "name": "log_table_name",
              "value": "sds_api_call_logs"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/{{$node[\"Globals\"].json[\"table_name\"]}}?filter={\"order_ref_number\": {\"_eq\":\"{{$node[\"Webhook\"].json[\"body\"][\"reference_number\"]}}\"}}",
        "options": {}
      },
      "name": "Check for Order ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        580,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "90",
          "name": "Simens Order Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n        \"success\": true,\n        \"message\" : \"Order created successfully!\"\n    }\t\t\t\n});\n\nreturn responseData;\n"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1480,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\n\nresponseData.push({\n    json: {\n        \"success\": false,\n        \"message\" : 'Order Reference Number is not available'\n    }\t\t\t\n});\n\nreturn responseData;\n"
      },
      "name": "Failure Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        540
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/{{$node[\"Globals\"].json[\"log_table_name\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "order_status",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"status\"]}}"
            }
          ]
        }
      },
      "name": "Update Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1680,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "90",
          "name": "Simens Order Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Check for Order ID\"].json[\"data\"].length}}",
              "operation": "larger",
              "value2": "={{0}}"
            }
          ]
        }
      },
      "name": "Check Order",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/siemens/order-status-update",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "order_id",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"order_id\"]}}"
            },
            {
              "name": "status",
              "value": "=O"
            },
            {
              "name": "order_date"
            }
          ]
        }
      },
      "name": "Update Order Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "92",
          "name": "Siemens Notification"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let order_detail = $node[\"Check for Order ID\"].json.data[0];\nlet response = $node[\"Webhook\"].json.body;\nlet order_update_data = [];\n\nlet order_key = [];\norder_key.push(order_detail.id);\n\n//Date\nconst date = new Date();\nlet currentDay= String(date.getDate()).padStart(2, '0');\nlet currentMonth = String(date.getMonth()+1).padStart(2,\"0\");\nlet currentYear = date.getFullYear();\nlet currentDate = `${currentYear}-${currentMonth}-${currentDay}`;\n\nlet order_data = {\n    \"order_status\" : \"O\",\n    \"order_id\" : \"OD\"+response.order_id,\n    \"order_date\" : currentDate\n}\n\norder_update_data.push({\n    json: [{\n        keys:order_key,\n        data:order_data,\n    }]\n}); \n\nreturn order_update_data;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/{{$node[\"Globals\"].json[\"table_name\"]}}/{{$node[\"Check for Order ID\"].json[\"data\"][0][\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "order_id",
              "value": "=OD{{$node[\"Webhook\"].json[\"body\"][\"order_id\"]}}"
            }
          ]
        }
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1320,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "90",
          "name": "Simens Order Token"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "7",
      "name": "Siemens",
      "createdAt": "2023-05-30T07:00:01.982Z",
      "updatedAt": "2023-05-30T07:00:01.982Z"
    }
  ],
  "updatedAt": "2023-06-21T09:18:42.641Z"
}