backups/SP Reward Ledger Updater.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Ledger Calculator and Updater1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-04T09:43:59.215Z",
  "id": "300",
  "name": "SP Reward Ledger Updater",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -340,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-reward-ledger",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -520,
        320
      ],
      "webhookId": "96579495-29af-4ff7-a29c-3ccfbf507f40"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dms_campaign_url",
              "value": "https://campaignsqa.shakepe.com"
            },
            {
              "name": "campaigns_header_auth",
              "value": "Bearer A1SgJqv876pUzTBHfwg1f86znvD3iD3C"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -280,
        320
      ]
    },
    {
      "parameters": {
        "functionCode": "const axios = require('axios');\n\nconst dmsUrl = $node[\"Globals\"].json[\"dms_campaign_url\"];\nconst campaignsAuth = $node[\"Globals\"].json[\"campaigns_header_auth\"];\n\ntry {\n  const allRedemptionsFromActiveCampaign = await axios.get(`${dmsUrl}/items/sp_reward_redemptions`, {\n    params: {\n      sort: [\"date_created\"],\n      fields: [\n        \"*\", \n        \"reward_link.pending_value\",\n        \"reward_link.value\",\n        \"reward_link.reward_campaign\",\n        \"reward_link.id\",\n        \"sku.value\",\n        \"sku.name\",\n        \"reward_link.reward_campaign.name\",\n        \"reward_link.reward_campaign.status\",\n        \"reward_link.reward_campaign.id\",\n      ],\n      filter: {\n        _and: [\n          {\n            reward_link: {\n              _nnull: true\n            }\n          },\n          {\n            reward_link: {\n              reward_campaign: {\n                status: {\n                  _eq: \"active\"\n                }\n              }\n            }\n          }\n        ]\n      },\n      limit: -1\n    },\n    headers: {\n      'Authorization': campaignsAuth\n    }\n  });\n\n  const campaignWiseTotalLinkValues = await axios.get(`${dmsUrl}/items/sp_reward_links`, {\n    params: {\n      sort: [\"date_created\"],\n      fields: [\n        \"reward_campaign\", \"value\"\n      ],\n      filter: {\n        _and: [\n          {\n              reward_campaign: {\n                status: {\n                  _eq: \"active\"\n              }\n            }\n          }\n        ]\n      },\n      limit: -1\n    },\n    headers: {\n      'Authorization': campaignsAuth\n    }\n  });\n\n  const campaignWiseOpeningBalances = {};\n\n  const allRewardLinkValues = campaignWiseTotalLinkValues.data.data;\n\n  allRewardLinkValues.forEach(({reward_campaign, value})=>{\n    if(!campaignWiseOpeningBalances[reward_campaign]){ \n      campaignWiseOpeningBalances[reward_campaign]={ opening_balance: 0 }\n    }\n    campaignWiseOpeningBalances[reward_campaign][\"opening_balance\"]+=value*1;\n  });\n  \n  const campaignWiseReportsJson = {};\n\n  const redemptionsArray = allRedemptionsFromActiveCampaign.data.data;\n\n  redemptionsArray.forEach(redemption=>{\n    const campaignName = redemption[\"reward_link\"][\"reward_campaign\"][\"name\"];\n    const campaignId = redemption[\"reward_link\"][\"reward_campaign\"][\"id\"];\n    const redemptionValue = redemption[\"sku\"]?redemption[\"sku\"][\"value\"]:0;\n    const redemptionMonthYear = (new Date(redemption[\"date_created\"]).getMonth()+1)+\"-\"+new Date(redemption[\"date_created\"]).getFullYear();\n    if(!campaignWiseReportsJson[campaignId]) {\n      campaignWiseReportsJson[campaignId] = {};\n    }\n    if(!campaignWiseReportsJson[campaignId][redemptionMonthYear]) {\n      let openingBalanceCalc = 0;\n      if(Object.keys(campaignWiseReportsJson[campaignId]).length>1) {\n        const lastMonthKey = Object.keys(campaignWiseReportsJson[campaignId])[Object.keys(campaignWiseReportsJson[campaignId]).length-1];\n        openingBalanceCalc = campaignWiseReportsJson[campaignId][lastMonthKey][\"closing_balance\"];\n        campaignWiseReportsJson[campaignId][redemptionMonthYear] = {\n          opening_balance: openingBalanceCalc,\n          closing_balance: 0,\n          loaded_balance: 0,\n          redeemed_amount: 0\n        };\n      } else if(Object.keys(campaignWiseReportsJson[campaignId]).length==1) {\n        const lastMonthKey = Object.keys(campaignWiseReportsJson[campaignId])[Object.keys(campaignWiseReportsJson[campaignId]).length-1];\n        openingBalanceCalc = campaignWiseReportsJson[campaignId][lastMonthKey][\"loaded_balance\"];\n        campaignWiseReportsJson[campaignId][redemptionMonthYear] = {\n          opening_balance: openingBalanceCalc,\n          closing_balance: 0,\n          loaded_balance: 0,\n          redeemed_amount: 0\n        };\n      } else {\n        openingBalanceCalc = campaignWiseOpeningBalances[campaignId][\"opening_balance\"];\n        campaignWiseReportsJson[campaignId][redemptionMonthYear] = {\n          opening_balance: 0,\n          closing_balance: 0,\n          loaded_balance: openingBalanceCalc,\n          redeemed_amount: 0\n        };\n      }\n\n      \n    }\n    campaignWiseReportsJson[campaignId][redemptionMonthYear][\"redeemed_amount\"]+=redemptionValue*1;\n    campaignWiseReportsJson[campaignId][redemptionMonthYear][\"closing_balance\"]=\n       campaignWiseReportsJson[campaignId][redemptionMonthYear][\"opening_balance\"] \n       + campaignWiseReportsJson[campaignId][redemptionMonthYear][\"loaded_balance\"]\n       - campaignWiseReportsJson[campaignId][redemptionMonthYear][\"redeemed_amount\"];\n  });\n\n  const campaignWiseReportsList = [];\n\n  Object.keys(campaignWiseReportsJson).forEach(campaignId=>{\n    Object.keys(campaignWiseReportsJson[campaignId]).forEach(record=>{\n      const month = record.split(\"-\")[0];\n      const year = record.split(\"-\")[1];\n      campaignWiseReportsList.push({\n        month, year, reward_campaign: campaignId, ...campaignWiseReportsJson[campaignId][record]\n      });\n    });\n  });\n  \n\n  // return { data: campaignWiseReportsList };\n\n  try {\n    const getAllLedgerResponse = await axios.get(`${dmsUrl}/items/sp_reward_ledger`, {\n      params: {\n        fields: [\n          \"id\"\n        ],\n        limit: -1\n      },\n      headers: {\n        'Authorization': campaignsAuth\n      }\n    });\n\n    const allLedgerKeys = getAllLedgerResponse.data.data.map(led=>{\n      return led.id;\n    });\n\n    const deleteAllLedgerResponse = await axios.delete(`${dmsUrl}/items/sp_reward_ledger`, {\n      headers: {\n        'Authorization': campaignsAuth\n      },\n      data: {\n        keys: allLedgerKeys\n      }\n    });\n\n    const addAllLedgerResponse = await axios.post(`${dmsUrl}/items/sp_reward_ledger`, campaignWiseReportsList,\n    {\n      headers: {\n        'Authorization': campaignsAuth,\n        'Content-Type': 'application/json'\n      }\n    });\n\n    return campaignWiseReportsList;\n    \n  } catch(e) {\n    return { updationError: \"\"+e};\n  }\n\n} catch (e) {\n  return { calculationError: \"\"+e};\n}\n\n\n\n\n"
      },
      "name": "Ledger Calculator and Updater",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -580,
        20
      ]
    },
    {
      "parameters": {
        "functionCode": "const axios = require('axios');\n\nconst dmsUrl = $node[\"Globals\"].json[\"dms_campaign_url\"];\nconst campaignsAuth = $node[\"Globals\"].json[\"campaigns_header_auth\"];\n\ntry {\n\t/* Getting all redemptions of Active campaigns and not null reward link in ascending order of date */\n\tconst allRedemptionsFromActiveCampaign = await axios.get(`${dmsUrl}/items/sp_reward_redemptions`, {\n\t\tparams: {\n\t\t\tsort: [\"date_created\"],\n\t\t\tfields: [\n\t\t\t\t\"*\",\n\t\t\t\t\"reward_link.pending_value\",\n\t\t\t\t\"reward_link.value\",\n\t\t\t\t\"reward_link.reward_campaign\",\n\t\t\t\t\"reward_link.id\",\n\t\t\t\t\"sku.value\",\n\t\t\t\t\"sku.name\",\n\t\t\t\t\"reward_link.reward_campaign.name\",\n\t\t\t\t\"reward_link.reward_campaign.status\",\n\t\t\t\t\"reward_link.reward_campaign.id\",\n\t\t\t\t\"reward_link.reward_campaign.end_date\"\n\t\t\t],\n\t\t\tfilter: {\n\t\t\t\t_and: [\n\t\t\t\t\t{\n\t\t\t\t\t\treward_link: {\n\t\t\t\t\t\t\t_nnull: true\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\treward_link: {\n\t\t\t\t\t\t\treward_campaign: {\n\t\t\t\t\t\t\t\tstatus: {\n\t\t\t\t\t\t\t\t\t_eq: \"active\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\tlimit: -1\n\t\t},\n\t\theaders: {\n\t\t\t'Authorization': campaignsAuth\n\t\t}\n\t});\n\n\t/* Getting all Reward Links of active campaign */\n\tconst campaignWiseTotalLinkValues = await axios.get(`${dmsUrl}/items/sp_reward_links`, {\n\t\tparams: {\n\t\t\tsort: [\"date_created\"],\n\t\t\tfields: [\n\t\t\t\t\"reward_campaign.id\", \"reward_campaign.end_date\", \"reward_campaign.start_date\", \"value\"\n\t\t\t],\n\t\t\tfilter: {\n\t\t\t\t_and: [\n\t\t\t\t\t{\n\t\t\t\t\t\treward_campaign: {\n\t\t\t\t\t\t\tstatus: {\n\t\t\t\t\t\t\t\t_eq: \"active\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t},\n\t\t\tlimit: -1\n\t\t},\n\t\theaders: {\n\t\t\t'Authorization': campaignsAuth\n\t\t}\n\t});\n\n\tconst campaignWiseOpeningBalances = {};\n\n\tconst allRewardLinkValues = campaignWiseTotalLinkValues.data.data;\n\n\t/* Saving Opening Balances by looping through all reward links and adding value of each reward link */\n\tallRewardLinkValues.forEach(({reward_campaign, value}) => {\n\t\tif (!campaignWiseOpeningBalances[reward_campaign[\"id\"]]) {\n\t\t\tcampaignWiseOpeningBalances[reward_campaign[\"id\"]] = {\n\t\t\t\topening_balance: 0,\n\t\t\t\tend_date: reward_campaign[\"end_date\"],\n\t\t\t\tstart_date: reward_campaign[\"start_date\"]\n\t\t\t}\n\t\t}\n\t\tcampaignWiseOpeningBalances[reward_campaign[\"id\"]][\"opening_balance\"] += value * 1;\n\t});\n\n\tconst campaignWiseReportsJson = {};\n\n\tlet redemptionsArray = allRedemptionsFromActiveCampaign.data.data;\n\n\tObject.keys(campaignWiseOpeningBalances).forEach(campaignId => {\n\t\t\tconst campaignName = campaignWiseOpeningBalances[campaignId][\"name\"];\n\t\t\tconst startDate = campaignWiseOpeningBalances[campaignId][\"start_date\"];\n\n\t\t\tconst dummyZeroRedemption = {\n\t\t\t\treward_link: {\n\t\t\t\t\treward_campaign: {\n\t\t\t\t\t\tid: campaignId,\n\t\t\t\t\t\tname: campaignName\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\tsku: {\n\t\t\t\t\tvalue: 0\n\t\t\t\t},\n\t\t\t\tdate_created: startDate\n\t\t\t};\n\n\t\t\tconsole.log({dummyZeroRedemption});\n\n\t\t\tredemptionsArray.push(dummyZeroRedemption);\n\t\t});\n\n\t\tredemptionsArray = redemptionsArray.sort(function(a,b){\n\t\t\treturn new Date(a.date_created) - new Date(b.date_created);\n\t\t});\n\n\tredemptionsArray.forEach((redemption, i) => {\n\t\tconst campaignName = redemption[\"reward_link\"][\"reward_campaign\"][\"name\"];\n\t\tconst campaignId = redemption[\"reward_link\"][\"reward_campaign\"][\"id\"];\n\n\t\tconst redemptionValue = redemption[\"sku\"] ? redemption[\"sku\"][\"value\"] : 0;\n\t\tconst redemptionMonthYear = (new Date(redemption[\"date_created\"]).getMonth() + 1) + \"-\" + new Date(redemption[\"date_created\"]).getFullYear();\n\n\t\tif (!campaignWiseReportsJson[campaignId]) {\n\t\t\tcampaignWiseReportsJson[campaignId] = {};\n\t\t}\n\t\tif (!campaignWiseReportsJson[campaignId][redemptionMonthYear]) {\n\t\t\tlet openingBalanceCalc = 0;\n\t\t\tif (Object.keys(campaignWiseReportsJson[campaignId]).length > 1) {\n\t\t\t\tconst lastMonthKey = Object.keys(campaignWiseReportsJson[campaignId])[Object.keys(campaignWiseReportsJson[campaignId]).length - 1];\n\t\t\t\topeningBalanceCalc = campaignWiseReportsJson[campaignId][lastMonthKey][\"closing_balance\"];\n\t\t\t\tcampaignWiseReportsJson[campaignId][redemptionMonthYear] = {\n\t\t\t\t\topening_balance: openingBalanceCalc,\n\t\t\t\t\tclosing_balance: 0,\n\t\t\t\t\tloaded_balance: 0,\n\t\t\t\t\tredeemed_amount: 0\n\t\t\t\t};\n\t\t\t} else if (Object.keys(campaignWiseReportsJson[campaignId]).length == 1) {\n\t\t\t\tconst lastMonthKey = Object.keys(campaignWiseReportsJson[campaignId])[Object.keys(campaignWiseReportsJson[campaignId]).length - 1];\n\t\t\t\topeningBalanceCalc = campaignWiseReportsJson[campaignId][lastMonthKey][\"closing_balance\"];\n\t\t\t\tcampaignWiseReportsJson[campaignId][redemptionMonthYear] = {\n\t\t\t\t\topening_balance: openingBalanceCalc,\n\t\t\t\t\tclosing_balance: 0,\n\t\t\t\t\tloaded_balance: 0,\n\t\t\t\t\tredeemed_amount: 0\n\t\t\t\t};\n\t\t\t} else {\n\t\t\t\topeningBalanceCalc = campaignWiseOpeningBalances[campaignId][\"opening_balance\"];\n\t\t\t\tcampaignWiseReportsJson[campaignId][redemptionMonthYear] = {\n\t\t\t\t\topening_balance: 0,\n\t\t\t\t\tclosing_balance: 0,\n\t\t\t\t\tloaded_balance: openingBalanceCalc,\n\t\t\t\t\tredeemed_amount: 0\n\t\t\t\t};\n\t\t\t}\n\n\n\t\t}\n\t\tcampaignWiseReportsJson[campaignId][redemptionMonthYear][\"redeemed_amount\"] += redemptionValue * 1;\n\t\tcampaignWiseReportsJson[campaignId][redemptionMonthYear][\"closing_balance\"] =\n\t\t\tcampaignWiseReportsJson[campaignId][redemptionMonthYear][\"opening_balance\"]\n\t\t\t+ campaignWiseReportsJson[campaignId][redemptionMonthYear][\"loaded_balance\"]\n\t\t\t- campaignWiseReportsJson[campaignId][redemptionMonthYear][\"redeemed_amount\"];\n\t});\n\n\tconst campaignWiseReportsList = [];\n\n\tObject.keys(campaignWiseReportsJson).forEach((campaignId) => {\n\t\tObject.keys(campaignWiseReportsJson[campaignId]).forEach((record, index) => {\n\t\t\tconst month = record.split(\"-\")[0];\n\t\t\tconst year = record.split(\"-\")[1];\n\n\t\t\tconst expiryMonth = new Date(campaignWiseOpeningBalances[campaignId][\"end_date\"]).getMonth() + 1;\n\t\t\tconst expiryYear = new Date(campaignWiseOpeningBalances[campaignId][\"end_date\"]).getFullYear();\n\n\n\t\t\tcampaignWiseReportsList.push({\n\t\t\t\tmonth, year, reward_campaign: campaignId, ...campaignWiseReportsJson[campaignId][record]\n\t\t\t});\n\n\t\t\tif (index == (Object.keys(campaignWiseReportsJson[campaignId]).length - 1)) {\n\t\t\t\tif (campaignWiseOpeningBalances[campaignId][\"end_date\"] < new Date().toISOString()) {\n\t\t\t\t\tif (month == expiryMonth && year == expiryYear) {\n\t\t\t\t\t\tcampaignWiseReportsList[campaignWiseReportsList.length - 1] = {\n\t\t\t\t\t\t\tmonth: expiryMonth,\n\t\t\t\t\t\t\tyear: expiryYear,\n\t\t\t\t\t\t\treward_campaign: campaignId,\n\t\t\t\t\t\t\topening_balance: campaignWiseReportsJson[campaignId][record][\"closing_balance\"],\n\t\t\t\t\t\t\tclosing_balance: 0,\n\t\t\t\t\t\t\texpired_balance: campaignWiseReportsJson[campaignId][record][\"closing_balance\"],\n\t\t\t\t\t\t\tloaded_balance: 0,\n\t\t\t\t\t\t\tredeemed_amount: 0\n\t\t\t\t\t\t}\n\t\t\t\t\t} else {\n\t\t\t\t\t\tcampaignWiseReportsList.push({\n\t\t\t\t\t\t\tmonth: expiryMonth,\n\t\t\t\t\t\t\tyear: expiryYear,\n\t\t\t\t\t\t\treward_campaign: campaignId,\n\t\t\t\t\t\t\topening_balance: campaignWiseReportsJson[campaignId][record][\"closing_balance\"],\n\t\t\t\t\t\t\tclosing_balance: 0,\n\t\t\t\t\t\t\texpired_balance: campaignWiseReportsJson[campaignId][record][\"closing_balance\"],\n\t\t\t\t\t\t\tloaded_balance: 0,\n\t\t\t\t\t\t\tredeemed_amount: 0\n\t\t\t\t\t\t});\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\n\t\t});\n\t});\n\n\n\t// return { data: campaignWiseReportsList };\n\n\ttry {\n\t\tconst getAllLedgerResponse = await axios.get(`${dmsUrl}/items/sp_reward_ledger`, {\n\t\t\tparams: {\n\t\t\t\tfields: [\n\t\t\t\t\t\"id\"\n\t\t\t\t],\n\t\t\t\tlimit: -1\n\t\t\t},\n\t\t\theaders: {\n\t\t\t\t'Authorization': campaignsAuth\n\t\t\t}\n\t\t});\n\n\t\tconst allLedgerKeys = getAllLedgerResponse.data.data.map(led => {\n\t\t\treturn led.id;\n\t\t});\n\n\t\tconst deleteAllLedgerResponse = await axios.delete(`${dmsUrl}/items/sp_reward_ledger`, {\n\t\t\theaders: {\n\t\t\t\t'Authorization': campaignsAuth\n\t\t\t},\n\t\t\tdata: {\n\t\t\t\tkeys: allLedgerKeys\n\t\t\t}\n\t\t});\n\n\t\tconst addAllLedgerResponse = await axios.post(`${dmsUrl}/items/sp_reward_ledger`, campaignWiseReportsList,\n\t\t\t{\n\t\t\t\theaders: {\n\t\t\t\t\t'Authorization': campaignsAuth,\n\t\t\t\t\t'Content-Type': 'application/json'\n\t\t\t\t}\n\t\t\t});\n\n\t\treturn campaignWiseReportsList;\n\n\t} catch (e) {\n\t\treturn {updationError: \"\" + e};\n\t}\n\n} catch (e) {\n\treturn {calculationError: \"\" + e};\n}\n\n\n\n\n"
      },
      "name": "Ledger Calculator and Updater1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -60,
        320
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-06-14T09:32:58.766Z"
}