backups/Step Up : IVR OTP Verification.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Display Log": {
      "main": [
        [
          {
            "node": "Check Reference Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reference Number": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Display Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Update Status To Request for Activation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-02-20T06:48:25.364Z",
  "id": "266",
  "name": "Step Up : IVR OTP Verification",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -660,
        -100
      ]
    },
    {
      "parameters": {
        "path": "validateotp",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -660,
        60
      ],
      "webhookId": "43c75623-116a-45b8-a595-72dab08a6d51"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": "={{$node[\"Check Reference Number\"].json[\"data\"].length > 0 ? 200 : 302}}"
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        40,
        60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select * from ivr_exotel where id='{{$node[\"Webhook\"].json[\"query\"][\"CallSid\"]}}'",
        "additionalFields": {}
      },
      "name": "Display Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -340,
        60
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "n8n - Postgres"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sp_card_inventory?filter={\"_and\":[{\"reference_number\":{\"_eq\":\"{{$node[\"Display Log\"].json[\"reference_number\"]}}\"}},{\"otp\":{\"_eq\":\"{{$node[\"Webhook\"].json[\"query\"][\"digits\"].replaceAll('\"','')}}\"}}]}&fields=mobile_number,status,sd_serial_number",
        "options": {}
      },
      "name": "Check Reference Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -160,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "77",
          "name": "ShakePe GCI - Zeus QA"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "https://zeusqa.shakedeal.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -500,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Check Reference Number\"].json[\"data\"].length > 0 ? true: false}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        60
      ]
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sp_card_inventory/{{$node[\"Check Reference Number\"].json[\"data\"][0][\"sd_serial_number\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "status",
              "value": "=RequestForActivation"
            }
          ]
        }
      },
      "name": "Update Status To Request for Activation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        -100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "77",
          "name": "ShakePe GCI - Zeus QA"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-03-14T04:55:59.233Z"
}