backups/Update tracking number and delivery partner in mozart.json
{
  "active": true,
  "connections": {
    "Wait for delivery info": {
      "main": [
        [
          {
            "node": "Get url and token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get the vendor po_number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the vendor po_number": {
      "main": [
        [
          {
            "node": "Update shipment status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update shipment status": {
      "main": [
        [
          {
            "node": "Get the vendor po id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the vendor po id": {
      "main": [
        [
          {
            "node": "Get the ASN document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url and token": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update delivery info in mozart": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Upload asn_document in mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the ASN document": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload asn_document in mozart": {
      "main": [
        [
          {
            "node": "Update delivery info in mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-06-06T08:33:49.062Z",
  "id": "126",
  "name": "Update tracking number and delivery partner in mozart",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        180
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update_delivery_info",
        "options": {}
      },
      "name": "Wait for delivery info",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        320,
        320
      ],
      "webhookId": "c516d643-d6ec-43dc-af7a-b4e70d758894"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "mozart_url",
              "value": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}"
            },
            {
              "name": "vpanel_url",
              "value": "={{$node[\"Get url and token\"].json[\"0\"][\"vendor_panel_url\"]}}"
            },
            {
              "name": "send_from_email",
              "value": "="
            },
            {
              "name": "to_email"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"vpanel_url\"]}}/items/sdv_shipments/{{$node[\"Wait for delivery info\"].json[\"body\"][\"keys\"][0]}}?fields=vendor_po_number.*,asn_number,delivery_partner",
        "options": {}
      },
      "name": "Get the vendor po_number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        860,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"vpanel_url\"]}}/items/sdv_shipments/{{$node[\"Wait for delivery info\"].json[\"body\"][\"keys\"][0]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "shipment_Status",
              "value": "=intransit"
            }
          ]
        }
      },
      "name": "Update shipment status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1060,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"mozart_url\"]}}/items/sdm_shipments/{{$node[\"Get the vendor po id\"].json[\"data\"][0][\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tracking_number",
              "value": "={{$node[\"Wait for delivery info\"].json[\"body\"][\"payload\"][\"asn_number\"]}}"
            },
            {
              "name": "delivery_partners",
              "value": "={{$node[\"Wait for delivery info\"].json[\"body\"][\"payload\"][\"delivery_partner\"]}}"
            },
            {
              "name": "shipment_status",
              "value": "=intransit"
            },
            {
              "name": "asn_document",
              "value": "={{$node[\"Upload asn_document in mozart\"].json[\"data\"][\"id\"]}}"
            }
          ]
        }
      },
      "name": "Update delivery info in mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2120,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"mozart_url\"]}}/items/sdm_shipments?filter={\"vendor_po_num\":{\"vendor_po_number\":{\"_eq\":\"{{$node[\"Get the vendor po_number\"].json[\"data\"][\"vendor_po_number\"][\"po_number\"]}}\"}}}",
        "options": {}
      },
      "name": "Get the vendor po id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1260,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/get-url",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client",
              "value": "={{$node[\"Wait for delivery info\"].json[\"body\"][\"payload\"][\"client\"]}}"
            },
            {
              "name": "env",
              "value": "={{$node[\"Wait for delivery info\"].json[\"headers\"][\"x-sd-env\"]}}"
            }
          ]
        }
      },
      "name": "Get url and token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "=handyalasairam9177@gmail.com",
        "toEmail": "=sairam.reddy@shakedeal.com",
        "subject": "=shipment is ready",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        2300,
        320
      ],
      "credentials": {
        "smtp": {
          "id": "17",
          "name": "smtp(sai)creds"
        }
      }
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "asn_file",
        "options": {
          "keepSource": true,
          "keepAsBase64": true
        }
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1660,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"vpanel_url\"]}}/assets/{{$node[\"Wait for delivery info\"].json[\"body\"][\"payload\"][\"asn_document\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Get the ASN document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1440,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"mozart_url\"]}}/files",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "=input_file:data"
      },
      "name": "Upload asn_document in mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1920,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "id": "5",
      "name": "Mozart",
      "createdAt": "2022-05-30T07:16:52.136Z",
      "updatedAt": "2022-05-30T07:16:52.136Z"
    }
  ],
  "updatedAt": "2022-09-06T15:59:40.872Z"
}