backups/Vedanta : Advance Approval Request.json
{
  "active": true,
  "connections": {
    "Wait for approval": {
      "main": [
        [
          {
            "node": "Get url and token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url and token": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get vendor PO details": {
      "main": [
        [
          {
            "node": "Function to create approval obj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get vendor PO details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        []
      ]
    },
    "Function to split files": {
      "main": [
        [
          {
            "node": "Get the uploaded files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the uploaded files": {
      "main": [
        [
          {
            "node": "Get the uploaded assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the uploaded assets": {
      "main": [
        [
          {
            "node": "Function to club the binay files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create advance request in zues": {
      "main": [
        [
          {
            "node": "Function to split files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to create approval obj": {
      "main": [
        [
          {
            "node": "Create advance request in zues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to club the binay files": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "post the file to dms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post the file to dms": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-12-05T07:13:51.079Z",
  "id": "241",
  "name": "Vedanta : Advance Approval Request",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/get-url",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client",
              "value": "={{$node[\"Wait for approval\"].json[\"headers\"][\"client\"]}}"
            },
            {
              "name": "env",
              "value": "={{$node[\"Wait for approval\"].json[\"headers\"][\"x-sd-env\"]}}"
            }
          ]
        }
      },
      "name": "Get url and token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        220
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "=approval_request",
        "options": {}
      },
      "name": "Wait for approval",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        220
      ],
      "webhookId": "c9ab68c9-c343-4fac-b0e2-1dfd771a7b06",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}/items/sdm_vendor_pos/{{$node[\"Wait for approval\"].json[\"body\"][\"payload\"][\"vendor_po_number\"]}}?fields= *.*,vendor.*",
        "options": {}
      },
      "name": "Get vendor PO details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        920,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "=handyalasairam9177@gmail.com",
        "toEmail": "=shakedeal.web@gmail.com",
        "subject": "=Approval needed for making advance payment to vendor || Vedanta",
        "html": "=<p>Kindly check the advance payment request details below for Vendor PO # {{$node[\"Get vendor PO details\"].json[\"data\"][\"id\"]}}</p>\n<table class=\"x_-1420528032MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"371\" style=\"width: 279pt;border-collapse: collapse;\">\n<tbody>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">1</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Vedanta PO No.</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Get vendor PO details\"].json[\"data\"][\"po_num\"][\"id\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">2</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Vendor PO No.</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Get vendor PO details\"].json[\"data\"][\"id\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">3</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Vendor Name</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Get vendor PO details\"].json[\"data\"][\"vendor\"][\"vendor_name\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">4</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Vendor PO Value</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Get vendor PO details\"].json[\"data\"][\"po_value\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">5</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">PO Delivery Date</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Get vendor PO details\"].json[\"data\"][\"po_deliver_date\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">6</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Advance to be paid</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Create advance request in zues\"].json[\"data\"][\"advance\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">7</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Reason for advance</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Create advance request in zues\"].json[\"data\"][\"reason_for_advance\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">8</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Residual Amount</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Create advance request in zues\"].json[\"data\"][\"residual_amount\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">9</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Already paid to vendor</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Create advance request in zues\"].json[\"data\"][\"already_paid_to_vendor\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">10</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">PO Type</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Create advance request in zues\"].json[\"data\"][\"po_type\"]}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">11</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Shipment Status</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Create advance request in zues\"].json[\"data\"][\"shipment_status\"].replaceAll(\"_\",\" \").toUpperCase()}}</td>\n</tr>\n<tr>\n<td align=\"center\" style=\"border: 1px solid black;border-collapse: collapse\">12</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">Requested By</td>\n<td style=\"border: 1px solid black;border-collapse: collapse\">{{$node[\"Create advance request in zues\"].json[\"data\"][\"requested_by\"]}}</td>\n</tr>\n</tbody>\n</table>\n<p>Please approve/reject this request here<a href={{$node[\"Function to club the binay files\"].json[\"url\"]}}>View Approval Request</a></p>",
        "attachments": "={{$node[\"Function to club the binay files\"].json[\"binary_keys\"]}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        2620,
        100
      ],
      "credentials": {
        "smtp": {
          "id": "17",
          "name": "smtp(sai)creds"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "dms_url",
              "value": "=https://zeusqa.shakedeal.com"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        940,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "=Vinay.KumarN@vedanta.co.in",
        "toEmail": "=santhosh@shakedeal.com,chidanand@shakedeal.com,handyalasairam9177@gmail.com",
        "ccEmail": "=Vinay.KumarN@vedanta.co.in",
        "subject": "Buyer test 1",
        "options": {}
      },
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        2520,
        -180
      ],
      "credentials": {
        "smtp": {
          "id": "7",
          "name": "AWS SES Creds"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "let responseData = [];\nlet upload_files = $node[\"Wait for approval\"].json[\"body\"][\"payload\"][\"upload_document\"][\"create\"];\nlet ids = [];\n\nif(upload_files){\n    upload_files.forEach(function(upload_file,index){\n        ids.push(upload_file.directus_files_id.id)\n        responseData.push({\n            json: {\n                \"id\":upload_file.directus_files_id.id,\n                \"index\":\"data\"+index,\n                \"dms_url\":$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]\n            }\t\t\t\n        });\n    })\n}\n\n\nreturn responseData;"
      },
      "name": "Function to split files",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1800,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Function to split files\"].json[\"dms_url\"]}}/files/{{$node[\"Function to split files\"].json[\"id\"]}}",
        "options": {}
      },
      "name": "Get the uploaded files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2000,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Function to split files\"].json[\"dms_url\"]}}/assets/{{$node[\"Function to split files\"].json[\"id\"]}}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "file",
        "dataPropertyName": "=data",
        "options": {}
      },
      "name": "Get the uploaded assets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2200,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/items/sdm_approval_request",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Function to create approval obj\"].json[\"approval_request\"]}}"
      },
      "name": "Create advance request in zues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1580,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "10",
          "name": "SD-Dms-Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// let binaries = {}, binary_keys = [];\nlet po_data = $node[\"Get vendor PO details\"].json[\"data\"];\nlet approved_payments = po_data.vendor_payments.filter(vp=>vp.approval_status==\"approved\");\nlet already_paid_to_vendor = approved_payments.reduce(function (result, item) {\n  return result + item.payment_amount;\n}, 0);\nlet approval_request ={};\napproval_request.vedanta_po_number = po_data.po_num.id;\napproval_request.vendor_po_number = po_data.id;\napproval_request.vendor_po_value = po_data.po_value;\napproval_request.vendor_name = po_data.vendor.vendor_name;\napproval_request.po_delivery_date =  po_data.po_deliver_date;\napproval_request.residual_amount = po_data.po_value-(already_paid_to_vendor+$node[\"Wait for approval\"].json[\"body\"][\"payload\"][\"payment_amount\"]);\napproval_request.already_paid_to_vendor = already_paid_to_vendor;\napproval_request.advance = $node[\"Wait for approval\"].json[\"body\"][\"payload\"][\"payment_amount\"];\napproval_request.reason_for_advance = $node[\"Wait for approval\"].json[\"body\"][\"payload\"]['reason_for_advance'];\napproval_request.po_type = po_data.po_type;\napproval_request.shipment_status = $node[\"Wait for approval\"].json[\"body\"][\"payload\"].shipment_status;\napproval_request.key = $node[\"Wait for approval\"].json[\"body\"][\"key\"];\n// for([index, item] of items.entries()) {\n//     item.binary.data.fileName = item.json.data.filename_download\n//     binaries[`data_${index}.pdf`] = item.binary.data;\n//     binary_keys.push(`data_${index}.pdf`);\n// }\n\nreturn [{\n    json: {\n        //binary_keys: binary_keys.join(','),\n        approval_request : approval_request\n    },\n    //binary: binaries\n}];"
      },
      "name": "Function to create approval obj",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1300,
        220
      ]
    },
    {
      "parameters": {
        "functionCode": "let binaries = {}, binary_keys = [],uploadDocument = [];\nlet id = $node[\"Create advance request in zues\"].json[\"data\"][\"id\"];\nlet url = `https://zeusqa.shakedeal.com/admin/content/sdm_approval_request/${id}`\n\nfor([index, item] of items.entries()) {\n    item.binary.data.fileName = item.json.data.filename_download\n    binaries[`data_${index}.pdf`] = item.binary.data;\n    binary_keys.push(`data_${index}.pdf`);\n    uploadDocument.push(`input_file${index}:data_${index}.pdf`);\n}\n\nreturn [{\n    json: {\n        binary_keys: binary_keys.join(','),\n        uploadDocument : uploadDocument.join(','),\n        url:url\n    },\n    binary: binaries\n}];"
      },
      "name": "Function to club the binay files",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2440,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"dms_url\"]}}/files",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "={{$node[\"Function to club the binay files\"].json[\"uploadDocument\"]}}"
      },
      "name": "post the file to dms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2620,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "10",
          "name": "SD-Dms-Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let uploaded_data = $node[\"post the file to dms\"].json.data;\nlet requets_id = $node[\"Create advance request in zues\"].json[\"data\"][\"id\"]\nlet approval_request_files_obj = [];\nuploaded_data.forEach(function(data,index){\n  approval_request_files_obj[index].directus_files_id = data.id;\n  approval_request_files_obj[index].sdm_approval_request_id = requets_id\n})\n\nitems[0].json.approval_request_files_obj = approval_request_files_obj;\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2880,
        400
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2022-12-16T07:39:36.526Z"
}