backups/Vedanta : Create shipment 3.0.json
{
  "active": true,
  "connections": {
    "Wait for shipment": {
      "main": [
        [
          {
            "node": "Get url and token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get the shipment file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the shipment file": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Upload shipment in mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload shipment in mozart": {
      "main": [
        [
          {
            "node": "Get the po number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the po number": {
      "main": [
        [
          {
            "node": "Get po_id from mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get po_id from mozart": {
      "main": [
        [
          {
            "node": "Create shipment in mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create shipment in mozart": {
      "main": [
        [
          {
            "node": "Get the shipment items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url and token": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the vendor payments id": {
      "main": [
        [
          {
            "node": "Function to payment to shipment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the shipment items": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Get the vendor payments id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Function to update hsn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to update hsn": {
      "main": [
        [
          {
            "node": "Update hsn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update hsn": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Function to create order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to create order": {
      "main": [
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to payment to shipment": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-09-14T06:59:46.778Z",
  "id": "182",
  "name": "Vedanta : Create shipment 3.0",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        180,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "=create_shipment",
        "options": {}
      },
      "name": "Wait for shipment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        420
      ],
      "webhookId": "6068e010-29ce-48cd-bfa2-ed6de444d572",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "vpanel_dms_url",
              "value": "={{$node[\"Get url and token\"].json[\"0\"][\"vendor_panel_url\"]}}"
            },
            {
              "name": "mozart_dms_url",
              "value": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}"
            },
            {
              "name": "send_from_email",
              "value": "=handyalasairam9177@gmail.com"
            },
            {
              "name": "accounts_email",
              "value": "=sairam.reddy@shakedeal.com"
            }
          ],
          "number": [
            {
              "name": "max_percentage",
              "value": 90
            },
            {
              "name": "min_percentage"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        60,
        420
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"vpanel_dms_url\"]}}/assets/{{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"shipment_file\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Get the shipment file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        260,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "shipment_file",
        "options": {
          "keepSource": true,
          "keepAsBase64": true
        }
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        480,
        420
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"mozart_dms_url\"]}}/files",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "=input_file:data"
      },
      "name": "Upload shipment in mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        740,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"0\"][\"vendor_panel_url\"]}}/items/sdv_vendor_pos/{{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"vendor_po_number\"]}}?fields = id,po_number,shipments.*",
        "options": {}
      },
      "name": "Get the po number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1000,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"0\"][\"mozart_url\"]}}/items/sdm_vendor_pos?filter={\"id\":{\"_eq\":\"{{$node[\"Get the po number\"].json[\"data\"][\"po_number\"]}}\"}}",
        "options": {}
      },
      "name": "Get po_id from mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1240,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"mozart_dms_url\"]}}/items/sdm_shipments",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "vendor_invoice",
              "value": "={{$node[\"Upload shipment in mozart\"].json[\"data\"][\"id\"]}}"
            },
            {
              "name": "invoice_number",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"invoice_number\"]}}"
            },
            {
              "name": "invoice_date",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"invoice_date\"]}}"
            },
            {
              "name": "invoice_value",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"invoice_value\"]}}"
            },
            {
              "name": "shipment_status",
              "value": "=open"
            },
            {
              "name": "vendor_po_num",
              "value": "={{$node[\"Get po_id from mozart\"].json[\"data\"][0][\"id\"]}}"
            },
            {
              "name": "net_invoice_value",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"net_invoice_value\"]}}"
            },
            {
              "name": "whether_tax_payable_on_reverse_charge",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"whether_tax_payable_on_reverse_charge\"]}}"
            },
            {
              "name": "e_way_bill_number",
              "value": "={{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"e_way_bill_number\"]}}"
            }
          ]
        }
      },
      "name": "Create shipment in mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1500,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/get-url",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client",
              "value": "=vedanta"
            },
            {
              "name": "env",
              "value": "={{$node[\"Wait for shipment\"].json[\"headers\"][\"x-sd-env\"]}}"
            }
          ]
        }
      },
      "name": "Get url and token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -120,
        420
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$node[\"Globals\"].json[\"send_from_email\"]}}",
        "toEmail": "={{$node[\"Globals\"].json[\"accounts_email\"]}}",
        "subject": "=Shipment Created for invoice number: {{$node[\"Wait for shipment\"].json[\"body\"][\"payload\"][\"invoice_number\"]}}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        3660,
        440
      ],
      "executeOnce": true,
      "credentials": {
        "smtp": {
          "id": "17",
          "name": "smtp(sai)creds"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"0\"][\"vendor_panel_url\"]}}/items/sdv_vendor_payments?filter={\"_and\": [{\"vendor_po_number\": {\"po_number\":{\"_eq\":\"{{$node[\"Get the po number\"].json[\"data\"][\"po_number\"]}}\"}}},{\"vendor_invoice\":{\"_null\":true}}]}",
        "options": {}
      },
      "name": "Get the vendor payments id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2780,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Globals\"].json[\"0\"][\"vendor_panel_url\"]}}/items/sdv_vendor_payments/{{$node[\"Function to payment to shipment\"].json[\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "vendor_invoice",
              "value": "={{$node[\"Function to payment to shipment\"].json[\"vendor_invoice\"]}}"
            }
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3320,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Globals\"].json[\"0\"][\"vendor_panel_url\"]}}/items/sdv_shipments/{{$node[\"Wait for shipment\"].json[\"body\"][\"key\"]}}?fields=shipment_items.*.*",
        "options": {}
      },
      "name": "Get the shipment items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1720,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let sdvShipmentItems = $node[\"Get the shipment items\"].json[\"data\"][\"shipment_items\"];\nlet sdmShipmentId = $node[\"Create shipment in mozart\"].json[\"data\"][\"id\"];\n\nlet sdmShipmentItems = [];\nsdvShipmentItems.forEach(function(shipmentItem,index){\n  sdmShipmentItems[index] ={};\n  sdmShipmentItems[index].sdm_shipments_id = sdmShipmentId;\n  sdmShipmentItems[index].sdm_po_items_id = shipmentItem.sdv_vendor_pos_sdv_products_id.po_items_id;\n  sdmShipmentItems[index].shipment_qty = shipmentItem.shipment_qty;\n  sdmShipmentItems[index].hsn = shipmentItem.sdv_vendor_pos_sdv_products_id.hsn;\n  sdmShipmentItems[index].tax_percentage = shipmentItem.sdv_vendor_pos_sdv_products_id.tax_percentage;\n  sdmShipmentItems[index].uom = shipmentItem.sdv_vendor_pos_sdv_products_id.uom;\n})\n\nitems[0].json.sdmShipmentItems = sdmShipmentItems\n\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2100,
        420
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"mozart_dms_url\"]}}/items/sdm_shipment_items",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Function\"].json[\"sdmShipmentItems\"]}}"
      },
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2420,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let shipmentItems = $node[\"Function\"].json[\"sdmShipmentItems\"];\nlet returnItems =[];\nshipmentItems.forEach(function(item,index){\n  returnItems.push({\n    json: \n      {\n       poItemId : item.sdm_po_items_id,\n       hsn : item.hsn,\n       tax_percentage:item.tax_percentage,\n       uom:item.uom,\n       dms_url : $node[\"Globals\"].json[\"0\"][\"mozart_url\"]\n    }\n  });\n})\n\nreturn returnItems;"
      },
      "name": "Function to update hsn",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3880,
        440
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Function to update hsn\"].json[\"dms_url\"]}}/items/sdm_po_items/{{$node[\"Function to update hsn\"].json[\"poItemId\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "hsn",
              "value": "={{$node[\"Function to update hsn\"].json[\"hsn\"]}}"
            },
            {
              "name": "tax_percentage",
              "value": "={{$node[\"Function to update hsn\"].json[\"tax_percentage\"]}}"
            },
            {
              "name": "uom",
              "value": "={{$node[\"Function to update hsn\"].json[\"uom\"]}}"
            }
          ]
        }
      },
      "name": "Update hsn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4200,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let orderObj = {};\nlet orderItems = [];\nlet shipmentItems = $node[\"Function\"].json[\"sdmShipmentItems\"];\nshipmentItems.forEach(function(item,index){\n  orderItems[index]={};\n  orderItems[index].sdm_po_items_id = item.sdm_po_items_id;\n  orderItems[index].quantity  = item.shipment_qty;\n})\norderObj.order_value = $node[\"Create shipment in mozart\"].json[\"data\"][\"invoice_value\"];\norderObj.order_status = \"draft\";\norderObj.order_type = $node[\"Get po_id from mozart\"].json[\"data\"][0][\"po_type\"];\norderObj.order_date = new Date().toISOString();\n//orderObj.shipment = $node[\"Create shipment in mozart\"].json[\"data\"][\"id\"];\norderObj.order_items = orderItems;\n\nitems[0].json.orderObj = orderObj;\nitems[0].json.orderItems = orderItems;\nreturn items;"
      },
      "name": "Function to create order",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        4660,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Get po_id from mozart\"].json[\"data\"][0][\"consignment_type\"] == \"non_consignmnet\"?true:false}}"
            }
          ]
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4420,
        440
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Globals\"].json[\"mozart_dms_url\"]}}/items/sdm_orders",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Function to create order\"].json[\"orderObj\"]}}"
      },
      "name": "Create Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        4880,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "name": "NoOp2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4660,
        600
      ]
    },
    {
      "parameters": {
        "functionCode": "const getVendorPayments = $node[\"Get the vendor payments id\"].json[\"data\"];\n\nlet returnItems =[]\n\ngetVendorPayments.forEach(function(obj,index){  \n    returnItems.push({\n    json: {\n       id : obj.id,\n       vendor_invoice : $node[\"Wait for shipment\"].json[\"body\"][\"key\"],\n       url : $node[\"Get url and token\"].json[\"0\"][\"mozart_url\"],\n    }\n  });\n  \n})\n\nreturn returnItems;"
      },
      "name": "Function to payment to shipment",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3020,
        420
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-07-11T10:46:10.390Z"
}