backups/Vedanta : Update IRN Digital signed invoices (2.0).json
{
  "active": false,
  "connections": {
    "Get Cloud Files": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function to get irn data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud": {
      "main": [
        [
          {
            "node": "Upload PO to mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update IRN in mozart": {
      "main": [
        [
          {
            "node": "Get the invoice file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PO to mozart": {
      "main": [
        [
          {
            "node": "Update IRN in mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url and token": {
      "main": [
        [
          {
            "node": "Get Cloud Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Get url and token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the pending invoices": {
      "main": [
        [
          {
            "node": "Move the pending files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to get irn data": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Start Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Loop": {
      "main": [
        [
          {
            "node": "Function to get the splitted inventory Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function to get the splitted inventory Item": {
      "main": [
        [
          {
            "node": "Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the invoice file": {
      "main": [
        [
          {
            "node": "Upload invoice to vpanel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload invoice to vpanel": {
      "main": [
        [
          {
            "node": "Get the shipment from vpanel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the shipment from vpanel": {
      "main": [
        [
          {
            "node": "update the order invoice in vpanel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update the order invoice in vpanel": {
      "main": [
        [
          {
            "node": "Move All Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move All Files": {
      "main": [
        [
          {
            "node": "Increment index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment index": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "End Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End Loop": {
      "main": [
        [
          {
            "node": "Get the pending invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-17T09:48:34.886Z",
  "id": "311",
  "name": "Vedanta : Update IRN Digital signed invoices (2.0)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "IRN-digitally-signed-qa/"
      },
      "name": "Get Cloud Files",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1020,
        320
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "43",
          "name": "SD Cloud"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://sdqa.mozart.shakedeal.com/items/sdm_order_invoices?filter={\"id\":{\"_eq\":\"{{$node[\"Get Cloud Files\"].json[\"path\"].replace('es/santhosh/IRN-digitally-signed-qa/','').replace('.pdf','').trim()}}\"}}&fields=id,order.*,order.shipments.sdm_shipments_id.*,order.shipments.sdm_shipments_id.vendor_po_num.id,order.shipments.sdm_shipments_id.vendor_po_num.consignment_type",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1260,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "31",
          "name": "header auth creds"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "path": "=IRN-digitally-signed-qa/{{$node[\"Function to get the splitted inventory Item\"].json[\"invoice_number\"]+\".pdf\"}}"
      },
      "name": "Nextcloud",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        2620,
        280
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "43",
          "name": "SD Cloud"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Nextcloud\"].json[\"dms_url\"]}}/items/sdm_order_invoices/{{$node[\"Nextcloud\"].json[\"invoice_number\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "view_shakedeal_invoice",
              "value": "={{$node[\"Upload PO to mozart\"].json[\"data\"][\"id\"]}}"
            }
          ]
        }
      },
      "name": "Update IRN in mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3000,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "31",
          "name": "header auth creds"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://sdqa.mozart.shakedeal.com/files",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "input_file:data"
      },
      "name": "Upload PO to mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2820,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "31",
          "name": "header auth creds"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/get-url",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client",
              "value": "=vedanta"
            },
            {
              "name": "env",
              "value": "=qa"
            }
          ]
        }
      },
      "name": "Get url and token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        820,
        320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "=https://sdqa.vpanel.shakedeal.com/items/sdv_shipments/{{$node[\"Get the shipment from vpanel\"].json[\"data\"][0][\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "sd_invoice",
              "value": "={{$node[\"Upload invoice to vpanel\"].json[\"data\"][\"id\"]}}"
            },
            {
              "name": "shipment_Status",
              "value": "awaiting_asn"
            }
          ]
        }
      },
      "name": "update the order invoice in vpanel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3920,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://sdqa.vpanel.shakedeal.com/files",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "=input_file:data"
      },
      "name": "Upload invoice to vpanel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3400,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "path": "=IRN-digitally-signed-qa/{{$node[\"Function to get the splitted inventory Item\"].json[\"invoice_number\"]+\".pdf\"}}",
        "toPath": "=IRN-old-digitally-signed-qa/{{$node[\"Function to get the splitted inventory Item\"].json[\"invoice_number\"]+\".pdf\"}}"
      },
      "name": "Move All Files",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        4160,
        280
      ],
      "executeOnce": false,
      "credentials": {
        "nextCloudApi": {
          "id": "43",
          "name": "SD Cloud"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        600,
        320
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "=IRN-digitally-signed-qa/"
      },
      "name": "Get the pending invoices",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        4860,
        60
      ],
      "executeOnce": true,
      "credentials": {
        "nextCloudApi": {
          "id": "43",
          "name": "SD Cloud"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "move",
        "path": "=IRN-digitally-signed-qa/{{$node[\"Get the pending invoices\"].json[\"path\"].replace(\"es/santhosh/IRN-digitally-signed-qa\",\"\")}}",
        "toPath": "=Invoices-with-old-po-qa/{{$node[\"Get the pending invoices\"].json[\"path\"].replace(\"es/santhosh/IRN-digitally-signed-qa\",\"\")}}"
      },
      "name": "Move the pending files",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        5060,
        60
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "43",
          "name": "SD Cloud"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "let irnData = [];\n//let productIds = [];\nitems.forEach((item, index) => {\n  //productIds.push(item.json[\"Material\"])\n  if(item.json.data.length>0){\n    if(item.json.data[0].order.shipments[0].sdm_shipments_id.vendor_po_num.consignment_type == \"non_consignmnet\"){\n      irnData.push({\n        sd_invoice_number : item.json.data[0].id,\n        vendor_invoice_number : item.json.data[0].order.shipments[0].sdm_shipments_id.invoice_number,\n        vendor_po_number : item.json.data[0].order.shipments[0].sdm_shipments_id.vendor_po_num.id\n      })\n    }\n  }\n})\nconst size = 10; // size of each subarray\n\nconst result = [];\nfor (let i = 0; i < irnData.length; i += size) {\n  result.push(irnData.slice(i, i + size));\n}\n\n//items[0].json.result= result;\n//items[0].json.resultlength = result.length;\n//return items;\nreturn [{\n    json: {\n        result: result,\n        resultlength : result.length\n    },\n}];\n"
      },
      "name": "Function to get irn data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1520,
        320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "index"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1920,
        280
      ]
    },
    {
      "parameters": {},
      "name": "Start Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        280
      ]
    },
    {
      "parameters": {
        "functionCode": "let irnData = $node[\"Function to get irn data\"].json[\"result\"];\nlet currentIndex = $node[\"Start Loop\"].json[\"index\"];\nlet currentIrn = irnData[currentIndex];\nlet returnItems = [];\n\ncurrentIrn.forEach(function(obj,index){  \n    returnItems.push({\n    json: {\n       invoice_number : obj.sd_invoice_number,\n       sd_invoice_number:obj.vendor_invoice_number,\n       vendor_po_num : obj.vendor_po_number,\n       dms_url : $node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]\n    }\n  });\n  \n})\n\nreturn returnItems;\n\n// items[0].json.currentStock= currentStock;\n\n// return items;"
      },
      "name": "Function to get the splitted inventory Item",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2400,
        280
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "path": "=IRN-digitally-signed-qa/{{$node[\"Function to get the splitted inventory Item\"].json[\"invoice_number\"]+\".pdf\"}}"
      },
      "name": "Get the invoice file",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        3200,
        280
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "43",
          "name": "SD Cloud"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://sdqa.vpanel.shakedeal.com/items/sdv_shipments?filter={\"_and\": [{\"vendor_po_number\":{\"po_number\":{\"_eq\":\"{{$node[\"Function to get the splitted inventory Item\"].json[\"vendor_po_num\"]}}\"}}},{\"invoice_number\":{\"_eq\":\"{{$node[\"Function to get the splitted inventory Item\"].json[\"sd_invoice_number\"]}}\"}}]}",
        "options": {}
      },
      "name": "Get the shipment from vpanel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3640,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "index",
              "value": "={{$node[\"Start Loop\"].json[\"index\"]+1}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Increment index",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        4380,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Increment index\"].json[\"index\"]}}",
              "operation": "equal",
              "value2": "={{$node[\"Function to get irn data\"].json[\"resultlength\"]}}"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4560,
        280
      ]
    },
    {
      "parameters": {},
      "name": "End Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4660,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"Function to get irn data\"].json[\"result\"].length>0?true:false}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1720,
        320
      ]
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        520
      ]
    }
  ],
  "settings": {
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-05-18T12:03:57.532Z"
}