backups/Vedanta : Update payment processed status in vpanel.json
{
  "active": false,
  "connections": {
    "Setting due day from present date": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Setting due day from present date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-12T13:46:04.310Z",
  "id": "343",
  "name": "Vedanta : Update payment processed status in vpanel",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {},
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        420,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=update sdv_shipments set payment_status='payment_to_process' where payment_due_date='{{$node[\"Setting due day from present date\"].json[\"date\"]}}' and payment_status ='payment_pending' and shipment_Status IN ('grn_partially_accepted', 'grn_completed') and payment_received_from_client",
        "additionalFields": {}
      },
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        860,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "78",
          "name": "Vedanta postgres qa"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "var someDate = new Date();\nvar numberOfDaysToAdd = 1\nsomeDate.setDate(someDate.getDate() + numberOfDaysToAdd);\n\nvar dd =parseInt(someDate.getDate());\nvar day = dd < 10 ? '0' + dd : dd;\nvar mm =parseInt(someDate.getMonth() + 1);\nvar month = mm < 10 ? '0' + mm : mm;\nvar y = someDate.getFullYear();\n\nvar someFormattedDate = y+'-'+month +'-'+day;\n\nitems[0].json.date=someFormattedDate\nreturn items;\n"
      },
      "name": "Setting due day from present date",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        660,
        200
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-07-18T13:23:23.840Z"
}