backups/Vedanta : Update Vendor Invoice update and status in mozart.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get url and token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get url and token": {
      "main": [
        [
          {
            "node": "Get the shipment file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the shipment file": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Upload shipment in mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload shipment in mozart": {
      "main": [
        [
          {
            "node": "Get the shipment details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the shipment details": {
      "main": [
        [
          {
            "node": "Update title and file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update title and file name": {
      "main": [
        [
          {
            "node": "Get the shipment from mozart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the shipment from mozart": {
      "main": [
        [
          {
            "node": "Update vendor invoice and status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-11T09:41:19.811Z",
  "id": "397",
  "name": "Vedanta : Update Vendor Invoice update and status in mozart",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "update-vendor-invoice",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "webhookId": "8b0abd43-e22a-4b87-8731-68eaef1fbfa2",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://qan8n.shakedeal.com/webhook/get-url",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "client",
              "value": "=vedanta"
            },
            {
              "name": "env",
              "value": "=qa"
            }
          ]
        }
      },
      "name": "Get url and token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"vendor_panel_url\"]}}/assets/{{$node[\"Webhook\"].json[\"body\"][\"payload\"][\"shipment_file\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Get the shipment file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "shipment_file",
        "options": {
          "keepSource": true,
          "keepAsBase64": true
        }
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}/files",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "=input_file:data"
      },
      "name": "Upload shipment in mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1380,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}/files/{{$node[\"Upload shipment in mozart\"].json[\"data\"][\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "=title",
              "value": "={{$node[\"Get the shipment details\"].json[\"data\"][\"invoice_number\"]}}"
            },
            {
              "name": "filename_download",
              "value": "={{$node[\"Get the shipment details\"].json[\"data\"][\"invoice_number\"]+\".\"+$node[\"Upload shipment in mozart\"].json[\"data\"][\"filename_disk\"].split(\".\")[1]}}"
            }
          ]
        }
      },
      "name": "Update title and file name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1820,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"vendor_panel_url\"]}}/items/sdv_shipments/{{$node[\"Webhook\"].json[\"body\"][\"keys\"][0]}}?fields=*,vendor_po_number.*",
        "options": {}
      },
      "name": "Get the shipment details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "51",
          "name": "VendorPanel DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}/items/sdm_shipments?filter={\"_and\":[{\"invoice_number\":{\"_eq\":\"{{$node[\"Get the shipment details\"].json[\"data\"][\"invoice_number\"]}}\"}},{\"vendor_po_num\":{\"_eq\":\"{{$node[\"Get the shipment details\"].json[\"data\"][\"vendor_po_number\"][\"po_number\"]}}\"}}]}",
        "options": {}
      },
      "name": "Get the shipment from mozart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2020,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "={{$node[\"Get url and token\"].json[\"0\"][\"mozart_url\"]}}/items/sdm_shipments/{{$node[\"Get the shipment from mozart\"].json[\"data\"][0][\"id\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "vendor_invoice",
              "value": "={{$node[\"Upload shipment in mozart\"].json[\"data\"][\"id\"]}}"
            },
            {
              "name": "shipment_status",
              "value": "=open"
            }
          ]
        }
      },
      "name": "Update vendor invoice and status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2260,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "50",
          "name": "Mozart DMS Token"
        }
      }
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2024-01-11T10:08:17.836Z"
}