backups/vendor panel proof of delivery mails.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Function2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function2": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-10T09:52:09.934Z",
  "id": "339",
  "name": "vendor panel proof of delivery mails",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        40,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "proof_of_delivery_email",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        140
      ],
      "webhookId": "c4408c94-e2f4-4559-a5ce-4404534633fb",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "handyalasairam9177@gmail.com",
        "toEmail": "={{$node[\"Function\"].json[\"email\"]}}",
        "ccEmail": "={{$node[\"Function\"].json[\"SD_MOZART_VPANEL_CC_MAIL\"]}}",
        "bccEmail": "=",
        "subject": "Request to upload Proof of Delivery for following invoices | Opcommerce Online Pvt. Ltd.",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n            \n  </head>\n<body>\n\n\t\t\t\t<p>Dear Sir/Madam,</p>\n\t<p>We kindly request that you upload the Proof of Delivery (POD) document in our vendor panel as soon as the order against the below Invoices is delivered. This is a mandatory step for tracking your payment status. To upload the POD, please log in to our vendor panel using the below link.</p>\t\n{{$node[\"Function\"].json[\"tableHtml\"]}}\n\t\t\t\t<p>If you need assistance with uploading the POD, you can refer to the video guide we have provided at the following link:</p>\n\t\t\t\t<p> <a href={{$node[\"Function\"].json[\"SD_MOZART_VPANEL_DELIVERY_VIDEO\"]}}>Video link to quickly guide you on - how to upload Proof of Delivery (POD).</a></p>\n\t\t\t\t\n\t\t\t\t<p>Thank you for your cooperation. If you have any questions or concerns, please contact your POC   at {{$node[\"Function\"].json[\"SD_MOZART_VPANEL_POC_EMAIL\"]}}</p>\n\n\n<img height=\"61\" width=\"231\" src=\"https://sdqa.shakedeal.com/images/logos/2/ShakeDealLogo.png\">\n\n\n<p><a href=\"https://www.shakedeal.com/\">www.shakedeal.com</a></p>\n\n<p>Opcommerce Online Pvt Ltd.</p>\n\n<p>DEDICATED PURCHASING PARTNER FOR:</p>\n\n<img height=\"61\" width=\"231\" src=\"https://sdqa.shakedeal.com/images/logos/2/vedantaLogo.jpg\">\n</body>\n</html>",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        600,
        140
      ],
      "credentials": {
        "smtp": {
          "id": "36",
          "name": "SendGrid"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let vendorItems = $node[\"Webhook\"].json[\"body\"];\nlet returnItems= [];\n// for (let i = 0; i < vendorItems.length; i++) {\n  vendorItems.forEach(function(obj,index){  \n    let mailItem = {};\n\t\t\t\tmailItem.email = obj.email;\n\t\t\t\tmailItem.SD_MOZART_VPANEL_POC_EMAIL= [];\n        mailItem.SD_MOZART_VPANEL_CC_MAIL = obj.SD_MOZART_VPANEL_CC_MAIL;\n        mailItem.shipments = obj.shipments;\n        mailItem.keys = obj.shipmentsids;\n        mailItem.status_change_date = obj.status_change_date;\n\n        \n\t\t\t\tmailItem.vendor_po_number = obj.ids;\n\n\t\t\t\tmailItem.SHIPMENT_LINK =  obj.SHIPMENT_LINK;\n\t\t\t\tmailItem.SD_MOZART_VPANEL_DELIVERY_VIDEO =  obj.SD_MOZART_VPANEL_DELIVERY_VIDEO;\n\t\t\t\tobj.shipments[0].vendor_po_number.buyer_ids !== null\n\t\t\t\t\t\t? mailItem.SD_MOZART_VPANEL_CC_MAIL.push(obj.shipments[0].vendor_po_number.buyer_ids)\n\t\t\t\t\t\t: '';\n\t\t\t\tobj.shipments[0].vendor_po_number.poc_id !== null\n\t\t\t\t\t\t? mailItem.SD_MOZART_VPANEL_CC_MAIL.push(obj.shipments[0].vendor_po_number.poc_id)\n\t\t\t\t\t\t: '';\n\t\t\t\tobj.shipments[0].poc_id !== null\n\t\t\t\t\t\t? mailItem.SD_MOZART_VPANEL_POC_EMAIL.push(obj.shipments[0].vendor_po_number.poc_id)\n\t\t\t\t\t\t: '';\n\n\n                let tableData = '';\nlet borderStyle = \"border: 1px solid black;border-collapse: collapse;text-align: center; vertical-align: middle;\"\nmailItem.shipments.forEach(function(element,index){\n  let link = `${mailItem.SHIPMENT_LINK}${element.id}`\n  tableData=tableData+\n      `<tr style='${borderStyle}'>`+\n      `<td style='${borderStyle}'>${element.invoice_number}</td>`+\n      `<td style='${borderStyle}'>${element.vendor_po_number.po_number}</td>`+\n      `<td style='${borderStyle}'><a href=${link}>Link</a></td>`+\n      `</tr>`;\n})\nlet tableHtml = `<table  style=\"color:#000000;width: 100%;border: 1px solid black;border-collapse: collapse; height: 70px;\">`+\n    `<tr style='background-color:#dedfe0;border: 1px solid black;border-collapse: collapse;'>`+\n    `<th style='${borderStyle}'>Invoice Number</th>`+\n    `<th style='${borderStyle}'>PO Number</th>`+\n    `<th style='${borderStyle}'>Link</th>`+\n    `</tr>${tableData}`+\n    `</table>`;\n\n    mailItem.tableHtml=tableHtml;\n    returnItems.push({\n        json:mailItem\n    });\n})\n\nreturn returnItems;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "=https://sdqa.vpanel.shakedeal.com/items/sdv_shipments",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Function1\"].json}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "97",
          "name": "mozart vendor panel auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let vendorItems = $node[\"Webhook\"].json[\"body\"];\nlet updateItems= [];\n\nvendorItems.forEach(function(obj,index){  \n    \n      let keys = obj.shipmentsids;\n\n      let data = {\n            'status_change_date' : obj.status_change_date\n      }\n\n    updateItems.push({\n        json:{\n              keys : keys,\n              data : data\n        }\n    });\n})\n\nreturn updateItems;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "functionCode": "let returnItems = [];\nlet message = [];\nreturnItems.push({\n  json:{\n    message\n  }\n})\nreturn returnItems;"
      },
      "name": "Function2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        820,
        140
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-08-08T09:50:33.939Z"
}