backups/vendor panel proof of delivery mails.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Function2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function2": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-10T09:52:09.934Z",
  "id": "339",
  "name": "vendor panel proof of delivery mails",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        40,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "httpMethod": "POST",
        "path": "proof_of_delivery_email",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        140
      ],
      "webhookId": "c4408c94-e2f4-4559-a5ce-4404534633fb",
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "SD Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "aravindakumar.pugalenthi@shakedeal.com",
        "toEmail": "={{$node[\"Function\"].json[\"email\"]}}",
        "ccEmail": "={{$node[\"Function\"].json[\"SD_MOZART_VPANEL_CC_MAIL\"]}}",
        "bccEmail": "=",
        "subject": "Pending Proof of Delivery for the following shipments.",
        "html": "=\n\n<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional //EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html\n  xmlns=\"http://www.w3.org/1999/xhtml\"\n  xmlns:v=\"urn:schemas-microsoft-com:vml\"\n  xmlns:o=\"urn:schemas-microsoft-com:office:office\"\n>\n  <head>\n \n\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <meta name=\"x-apple-disable-message-reformatting\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\" />\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin />\n    <link\n      href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap\"\n      rel=\"stylesheet\"\n    />\n    <title>Pending Proof of Delivery</title>\n\n    <style type=\"text/css\">\n      a,\n      a[href],\n      a:hover,\n      a:link,\n      a:visited {\n        text-decoration: none !important;\n        color: white;\n        font-size: 15px;\n      }\n      .link {\n        text-decoration: underline !important;\n      }\n\n      .ExternalClass p,\n      .ExternalClass span,\n      .ExternalClass font,\n      .ExternalClass td {\n        line-height: 100%;\n      }\n      .ExternalClass {\n        width: 100%;\n      }\n    </style>\n  </head>\n\n  <body\n    style=\"text-align: center;margin: 0;padding-bottom: 10px;background-color: #e4e4e4;color: #000000;\" align=\"center\">\n\n        <div>\n           \n            <table align=\"center\" style=\"text-align: center;vertical-align: top;width: 740px;max-width: 1000px;background-image: url('https://sdqa.vpanel.shakedeal.com/assets/dabf0992-add0-41b7-87ba-03122f83ffa9');background-size: cover;background-position: center center;background-repeat: no-repeat;margin: 0 auto;\">\n            <tbody>\n                    <tr><th style=\"width: 736px;display: flex;\">\n                    <img style=\"\n                      width: 146px;\n                      height: 35px;\n                      padding-top: 15px;\n                      padding-bottom: 15px;\n                      padding-left: 50px;\n                      \" alt=\"Logo\" src=\"https://sdqa.shakedeal.com/images/logos/2/ShakeDealLogo.png\">\n                        <p style=\"\n                        font-weight: 600;\n                        font-family: 'Montserrat', sans-serif;\n                        font-size: 13px;\n                        color: #3e3e3e;\n                        padding-left: 16px;\n                        padding-top: 15px;\n                      \"> DEDICATED PURCHASING PARTNER FOR:</p>\n                        <img style=\"\n                            width: 160px;\n                            height: 35px;\n                            padding-left: 26px;\n                            padding-top: 15px;\n                            \" alt=\"logo\" src=\"https://sdqa.vpanel.shakedeal.com/assets/844d406c-e78b-40f8-ace1-ad46206b684c\">\n                    </th>\n                    </tr><tr>\n                       <td style=\"padding-left: 50px;font-family: 'Montserrat', sans-serif;\">\n                        <div style=\"width: 641px;background-color: #fff;height:auto;min-height: 520px;border-radius: 14px;margin-bottom:33px;font-size: 11px; font-family: 'Montserrat',sans-serif;\">\n                            <p style=\"\n                                padding-left: 34px;\n                                text-align: left;\n                                padding-top:31px;\n                                \">Dear Sir/Madam,</p>\n                        \n                                <p style=\"\n                                padding-left: 35px;\n                                text-align: justify;\n                                padding-top:5px;\n                                width: 569px;line-height: 20px;\n                                font-family: 'Montserrat',sans-serif;\n                                \">We kindly request that you upload the Proof of Delivery (POD) document in our vendor panel as soon as the order against the below Invoices is delivered. This is a mandatory step for closing the shipment and processing your payment. To upload the POD, please log in to our vendor panel using the below link </p>\n\n                            {{$node[\"Function\"].json[\"tableHtml\"]}} \n                               \n            <p style=\" min-height:1px; height: 26px; padding-left: 35px;text-align: justify;width: 545px;line-height: 20px;\"><span style=\"font-family: 'Montserrat', sans-serif;\">If you need assistance with uploading the POD, you can refer to the video guide we have provided at the following link:</span></p>\t\t\n                                <div style=\"display: flex;padding-left: 35px;\">\n                                   <a href=\"https://shakedeal.portal.trainn.co/share/IjKJzFKf73S3Qtt1X2oKjg\">\n                                     <img style=\"width: 280px;height: 180px;padding-right: 5px\" alt=\"Hero image\" src=\"https://sdqa.vpanel.shakedeal.com/assets/b87fecf0-a1e8-42a1-acc5-8756fc7a168f\" align=\"center\">\n                                   </a>\n                             </div>\n                             <p style=\"\n                             padding-left: 35px;\n                             text-align: left;\n                             padding-top:5px;\n                             width: 569px;\n                             \">Thank you for your cooperation. If you have any questions or concerns, please contact your POC   at  <a href=\"mailto:{{$node[\"Function\"].json[\"SD_MOZART_VPANEL_POC_EMAIL\"]}}\" style=\"font-family: 'Montserrat',sans-serif;color: #2024e8;text-decoration:none;font-size: 10px;\">{{$node[\"Function\"].json[\"SD_MOZART_VPANEL_POC_EMAIL\"]}}</a></p>\n\n                        </div>\n                       \n                       </td>\n                    </tr>\n            </tbody>\n          </table>\n        \n        \n           \n        \n         <!-- Start footer -->\n         <table align=\"center\" style=\"width: 742px;background-color: #2d2d2d;\">\n          <tbody>\n            <tr>\n              <td style=\"font-size: 14px;line-height: 20px; font-weight: 300; color: #fff; display: inline-block; width: 275px; text-align: left;\">\n                <p style=\"font-family: 'Montserrat',sans-serif;\">ABOUT US</p>\n              </td>\n  \n             <td>\n              <p style=\"font-size: 14px;line-height: 20px;font-family: 'Montserrat',sans-serif; font-weight: 300; color: #fff; display: inline-block;width: 300px; text-align: left;\">\n                    CONTACT US\n                  </p>\n              </td>\n            </tr>\n  \n            <tr>\n              <td style=\"font-size: 10px;color: #c3c6c9; display: inline-block; width: 275px;text-align: left;\">\n                <p style=\"font-family: 'Montserrat',sans-serif;padding-top: -14px;\">\n                    ShakeDeal helps enterprises reduce procurement costs, achieve efficiencies and take full advantages of GST Economy through its full stack B2B ecommerce fulfilment model.\n                  </p>\n              </td>\n          \n              <td style=\"font-size: 10px;color: #fff;width: 275px;text-align: left;\">\n                <p style=\"font-family: 'Montserrat',sans-serif;\">\n                Address:\n              </p>\n              <p style=\"font-family: 'Montserrat',sans-serif;color: #c3c6c9;\">\n                Head Office: 170-172, Phase 2, EPIP, Whitefield, Bangalore 560066, INDIA\n              </p>\n              <p style=\"font-family: 'Montserrat',sans-serif;\">\n                Email:\n              </p>\n              <p>\n                <a href=\"mailto:support@shakedeal.com\"  style=\"font-family: 'Montserrat',sans-serif;color: #c3c6c9;text-decoration:none;font-size: 10px;\">\n                  support@shakedeal.com</a>\n              </p>\n              </td>\n            </tr>\n          </tbody>\n        </table>\n        <!-- End footer  -->\n        <table align=\"center\" style=\"width: 742px;background-color: #313131;\">\n          <tbody>\n\n            <tr>\n              <td style=\"font-size: 10px;line-height: 10px;font-weight: 300;color: #fff; display: inline-block;width: 275px;text-align: left;\">\n                <p style=\"font-family: 'Montserrat',sans-serif;\">© Powered By ShakeDeal</p>\n              </td>\n  \n             <td style=\"font-size: 12px;line-height: 10px;font-weight: 300;color: #f88c00; width: 300px;text-align: left;\">\n              <p style=\" font-family: 'Montserrat',sans-serif;\">\n                    <!-- Unsubcribe -->\n                  </p>\n              </td>\n            </tr>\n  \n           \n          </tbody>\n        </table>\n        \n            </div>\n  </body>\n</html>",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        600,
        140
      ],
      "credentials": {
        "smtp": {
          "id": "7",
          "name": "AWS SES Creds"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let vendorItems = $node[\"Webhook\"].json[\"body\"];\nlet returnItems= [];\n// for (let i = 0; i < vendorItems.length; i++) {\n  vendorItems.forEach(function(obj,index){  \n    let mailItem = {};\n\t\t\t\t// mailItem.email = obj.email;\n        mailItem.email = 'anjali.jain@shakedeal.com';\n\t\t\t\tmailItem.SD_MOZART_VPANEL_POC_EMAIL= [];\n        // mailItem.SD_MOZART_VPANEL_CC_MAIL = obj.SD_MOZART_VPANEL_CC_MAIL ;\n        mailItem.SD_MOZART_VPANEL_CC_MAIL =  ['bijan.krishna@shakedeal.com','suresh.madhaiyan@shakedeal.com','shakedeal.web@gmail.com'];\n        mailItem.shipments = obj.shipments;\n        mailItem.keys = obj.shipmentsids;\n        mailItem.status_change_date = obj.status_change_date;\n\n\t\t\t\tmailItem.vendor_po_number = obj.ids;\n\n\t\t\t\tmailItem.SHIPMENT_LINK =  obj.SHIPMENT_LINK;\n\t\t\t\tmailItem.SD_MOZART_VPANEL_DELIVERY_VIDEO =  obj.SD_MOZART_VPANEL_DELIVERY_VIDEO;\n\t\t\t\t// obj.shipments[0].vendor_po_number.buyer_ids !== null\n\t\t\t\t// \t\t? mailItem.SD_MOZART_VPANEL_CC_MAIL.push(obj.shipments[0].vendor_po_number.buyer_ids)\n\t\t\t\t// \t\t: '';\n\n        // obj.shipments[0].vendor_po_number.extra_cc_mail_ids !== null\n\t\t\t\t// \t\t\t\t\t? payload.SD_MOZART_VPANEL_CC_MAIL.push(\n\t\t\t\t// \t\t\t\t\t\t\tgetShipmentDetails[0].vendor_po_number.extra_cc_mail_ids.split(',')\n\t\t\t\t// \t\t\t\t\t  )\n\t\t\t\t// \t\t\t\t\t: '';\n        var extraccmails = obj.shipments[0].vendor_po_number.vendor.extra_cc_mail_ids || [];\n                    console.log(\"extraccmails\",extraccmails);\n\n        if(extraccmails.length !==0){\n          for (let i = 0; i < extraccmails.length; i++) {\n            console.log(\"extraccmails[i].email\",extraccmails[i].email);\n          mailItem.SD_MOZART_VPANEL_CC_MAIL.push(extraccmails[i].email);\n        } \n        }\n         \n\n        // let extraEmail = [];\n\t\t\t\t// if (obj.shipments[0].vendor_po_number.vendor.extra_cc_mail_ids) {\n        // extraEmail = obj.shipments[0].vendor_po_number.extra_cc_mail_ids.map(item => item.email);\n\n        // mailItem.SD_MOZART_VPANEL_CC_MAIL=[...mailItem.SD_MOZART_VPANEL_CC_MAIL, ...extraEmail]\n        // payload.SD_MOZART_VPANEL_CC_MAIL.push(extraEmail);\n\t\t\t\t// }\n\t\t\t\n        \n\t\t\t\t// obj.shipments[0].vendor_po_number.poc_id !== null\n\t\t\t\t// \t\t? mailItem.SD_MOZART_VPANEL_CC_MAIL.push(obj.shipments[0].vendor_po_number.poc_id)\n\t\t\t\t// \t\t: '';\n\t\t\t\tobj.shipments[0].poc_id !== null\n\t\t\t\t\t\t? mailItem.SD_MOZART_VPANEL_POC_EMAIL.push(obj.shipments[0].vendor_po_number.poc_id)\n\t\t\t\t\t\t: '';\n\n\n                let tableData = '';\nlet borderStyle = \"border: 1px solid black;border-collapse: collapse;text-align: center; vertical-align: middle;\"\nmailItem.shipments.forEach(function(element,index){\n  let link = `${mailItem.SHIPMENT_LINK}${element.id}`\n  tableData=tableData+\n      `<tr style='${borderStyle}'>`+\n      `<td style='${borderStyle}'>${element.invoice_number}</td>`+\n      `<td style='${borderStyle}'>${element.vendor_po_number.po_number}</td>`+\n      `<td style='${borderStyle}'><a style=\"font-family: 'Montserrat',sans-serif;color: #0582f0;text-decoration:none;\" href=${link}>Upload</a></td>`+\n      `</tr>`;\n})\nlet tableHtml = `<div style=\"display: flex;padding-left: 35px;\"> <table  style=\"color:#000000;width: 95%;border: 1px solid black;border-collapse: collapse; height: 70px;\">`+\n    `<tr style='background-color:#d6b86f;border: 1px solid black;border-collapse: collapse;'>`+\n    `<th style='${borderStyle}'>Invoice Number</th>`+\n    `<th style='${borderStyle}'>PO Number</th>`+\n    `<th style='${borderStyle}'>Upload POD</th>`+\n    `</tr>${tableData}`+\n    `</table> </div>`;\n\n    mailItem.tableHtml=tableHtml;\n    returnItems.push({\n        json:mailItem\n    });\n})\n\nreturn returnItems;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        140
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "PATCH",
        "url": "=https://sdqa.vpanel.shakedeal.com/items/sdv_shipments",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Function1\"].json}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        760,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "97",
          "name": "mozart vendor panel auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let vendorItems = $node[\"Webhook\"].json[\"body\"];\nlet updateItems= [];\n\nvendorItems.forEach(function(obj,index){  \n    \n      let keys = obj.shipmentsids;\n\n      let data = {\n            'status_change_date' : obj.status_change_date\n      }\n\n    updateItems.push({\n        json:{\n              keys : keys,\n              data : data\n        }\n    });\n})\n\nreturn updateItems;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "functionCode": "let returnItems = [];\nlet message = [];\nreturnItems.push({\n  json:{\n    message\n  }\n})\nreturn returnItems;"
      },
      "name": "Function2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        820,
        140
      ]
    }
  ],
  "settings": {},
  "staticData": null,
  "tags": [],
  "updatedAt": "2023-10-26T07:24:05.457Z"
}